@import "../config/variable.module";

.benchmarkTable {
    .benchmarkTable-section {
        @include mainSectionBg;

        .innerTitle {
            border-bottom: 1px solid $gray-200;

            h6 {
                span {
                    color: $gray-600;
                }
            }
        }

        .laneTable {
            .static-table {
                table {
                    background-color: $white;
                }

                .tWrap__head {
                    tr {
                        th {
                            &:first-child {
                                width: auto;
                            }
                        }
                    }

                    @media (max-width:$xl) {
                        max-width: 1200px;
                        width: 950px;
                    }
                }

                .tWrap__body {

                    tr {
                        td {
                            &:first-child {
                                width: auto;
                            }
                        }
                    }

                    @media (max-width:$xl) {
                        max-width: 1200px;
                        width: 950px;
                    }
                }

                th,
                td {
                    padding: 16px;
                }
            }
        }

        .static-table {
            table {
                .carrierLogoTooltip{
                    &:hover{
                        .carrierLogoTooltip_text {
                            left: 95px;
                            .dataRank, h4{
                                text-align: start !important;
                            }
                        }
                    }
                }
                tr {
                    td {
                        font-size: 0.875rem;
                        cursor: auto;

                        @media (max-width:$xxl) {
                            font-size: 0.75rem;
                        }

                        .logo-icon-name-wrapper {
                            height: 32px;
                            justify-content: center;
                            margin-right: 13px!important;
                            padding: 0!important;
                            text-align: center!important;
                            width: 77px!important;

                            .profileimgWrap {
                                object-fit: contain;
                                width: 5rem;
                                height: 30px;
                            }
                        }
                    }
                }
            }

            .tWrap__head {
                tr {
                    th {
                        &:first-child {
                            width: 240px;
                        }
                    }
                }

                @media (max-width:$lg) {
                    width: auto;
                }

                @media (max-width:$sm) {
                    width: 600px;
                }
            }

            .tWrap__body {
                tr {
                    td {
                        >div{
                            word-break: break-all;
                        }
                        &:first-child {
                            width: 240px;
                        }
                    }
                }

                @media (max-width:$lg) {
                    width: auto;
                }

                @media (max-width:$sm) {
                    width: 600px;
                }
            }

            th {
                padding: 1rem 0.5rem;
                font-size: 0.875rem;
                vertical-align: baseline;
                font-weight: 500;
                color: $gray-700;

                @media (max-width:$xxl) {
                    font-size: 0.75rem;
                }

                &:last-child {
                    width: auto;
                }
            }

            td {
                padding: 1rem 0.6rem;

                &:last-child {
                    width: auto;
                }
            }
        }
    }
}

.h-60vh {
    height: 50vh;
}