@import "../config/variable.module.scss";

.mainsidebar {
    background: $primary;
    min-height: 100vh;
    left: 0;
    width: 290px;
    transition: 0.5s;
    position: relative;
    .togglwSwitch-btn{
        padding-bottom: 16px;
        padding-left: 18px;

        @media(max-width:1367px) {
            padding-left: 10px;
        }

        .togle-switch {
            color: $white;
            padding: 0px 0px 10px 0px !important;
            border: none;
            img{
                width: 16px;
                padding-right: 0px !important;
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(103%);
            }
            &:hover{
                color: $white;
                background-color: transparent;
                border: none;
                img{
                    width: 16px;
                    padding-right: 0px !important;
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(103%);
                }
            }
        }
    }

    &.closeSidebar {
        @media(max-width:1250px) {
            width: 0px;
        }

        .scope-wrapper {
            display: none;
        }
    }

    @media (max-width: $xxl) {
        width: 230px;
    }

    @media (max-width: $md) {
        width: 232px;
        position: absolute;
        z-index: 99;
    }

    .scope-wrapper {
        position: absolute;
        bottom: 19px;
        left: 24px;

        @media(max-width:$xxl) {
            left: 15px;
        }

        img {
            @media(max-width:1600px) {
                width: 138px;
            }
        }
        .nav-item{
            img{
                width: inherit;
                padding-right: 0px !important;
            }
            a{
                text-decoration: none;
            }
            .navText{
                font-weight: 400;
                font-size: 1rem;
                color: $white;
                @media(max-width:1367px){
                    font-size: 0.87rem;
                }
            }
            border-bottom: 1px solid $white;
            margin-bottom: 16px;
            padding-left: 18px;

            @media(max-width:1367px) {
                padding-left: 10px;
            }

            &.logout {
                border-bottom: 1px solid $white;
            }
        }

    }

    .sidebarLogo {
        padding: 24px;
        .img-btn{
            text-align: start;
        }

        @media(max-width:$xxl) {
            padding: 24px 0px 7px 18px;
        }

        position: relative;

        .closedIcon {
            display: none;

            @media(max-width:1250px) {
                display: block;
                padding-right: 0px !important;
                right: -11px;
                top: 24px;
                position: absolute;
                z-index: 99;
                width: 30px;
            }

            img {
                width: 30px;
            }
        }
    }

    .greensightLogo {
        width: 90%;
        transition: 0.5s;
        padding-right: 0px !important;

        @media (max-width: $xxl) {
            width: 80%;
        }

    }

    .sidebarnav-wrapper {
        max-height: calc(100vh - 330px);
        overflow-y: auto;
        padding-top: 22px;
        overflow-x: hidden;
        margin: 0 14px;

        @media (max-width:1600px) {
            max-height: calc(100vh - 293px);
        }

        @media (max-width:1450px) {
            max-height: calc(100vh - 293px);
        }

        @media (max-width:$xxl) {
            max-height: calc(100vh - 260px);
        }

    }

    .toogleSwitch {
        .toggle {
            width: 145px !important;
            height: 40px !important;
            border-radius: 36px;
        }

        .toggle.btn {
            .toggle-group {
                top: 1px;

                .toggle-handle {
                    height: 26px;
                    margin-top: 5px;
                    border-radius: 76px;
                    margin-left: 43px;
                }
            }
        }

        .toggle>.toggle-group>.toggle-on,
        .toggle-off {
            font-size: 0.875rem;
            top: 2px;
        }

        .toggle.btn.btn-primary {
            background-color: $primary !important;
            border: 1px solid $primary;

            .toggle-group {
                .btn-primary {
                    background-color: $primary !important;
                }

                .toggle-handle {
                    height: 26px;
                    margin-top: 5px;
                    border-radius: 76px;
                    margin-right: 43px;
                    margin-left: 0px;
                }
            }
        }

    }

    .switch.btn {
        min-width: 149px;
        border-radius: 30px;
        max-width: 171px;
        margin-right: 0px;
        margin-left: 22px;

        .switch-handle {
            height: 26px;
            margin-top: 5px;
            border-radius: 76px;
            margin-right: 0px;
            margin-left: 37px;
        }

        .switch-on.btn.btn-primary,
        .switch-off.btn.btn-light {
            background-color: $primary;
            border: 1px solid $primary;
            color: $white;
            font-size: 0.875rem;
        }
    }

    .switch.btn.on.btn-primary {
        background-color: $primary;
        border: 1px solid $white;

        .switch-handle {
            margin-right: 34px;
            margin-left: 0px;
        }
    }

    .switch.btn.off.btn-light {
        .switch-handle {
            margin-right: 0px;
            margin-left: 37px;
        }
    }

    .accordion {
        .togglwSwitch-btn {
            button{
                white-space: inherit !important;
                &:hover{
                    background:transparent;
                    border: 1px solid transparent;
                }
            }
        }
        --bs-accordion-bg: $primary;
        width: 250px;

        @media (max-width: $xxl) {
            width: 190px;
        }

        .nav {
            .accordion-item {
                border: none;
                border-radius: 0px;
                .accordion-collapse.collapsing{
                    .accordion-body {
                        &::before {
                            display: none;
                        }
                    }
                    .nav {
                        .nav-item {
                            .active {
                                &:before {
                                   display: none;
                                }
                            }
                        }
                    }
                }
                .accordion-collapse.collapse.show {
                    .accordion-body {
                        position: relative;
                        transition: 0.5s linear;
                        &::before {
                            width: 2px;
                            height: 94%;
                            content: "";
                            background-color: rgba(255, 255, 255, 40%);
                            position: absolute;
                            z-index: 3;
                            left: 18px;
                            top: 5px;
                            transition: 0.5s linear;

                            @media(max-width:1370px) {
                                left: 11px;
                            }
                        }

                        .nav {
                            .nav-item {
                                .active {
                                    position: relative;
                                    transition: 0.5s linear;
                                    &:before {
                                        width: 15px;
                                        height: 2px;
                                        content: "";
                                        background-color: rgba(255, 255, 255, 0.4);
                                        position: absolute;
                                        z-index: 3;
                                        left: 3px;
                                        top: 23px;
                                        transform: rotate(180deg);
                                        transition: 0.5s linear;

                                        @media(max-width:1370px) {
                                            width: 12px;
                                            left: -4px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .accordion-header {
                    .accordion-button {
                        background: $primary;
                        border: 1px solid $primary;
                        color: $white;
                        border-radius: 0px 19px 19px 0px;
                        box-shadow: none;
                        padding: 15px 16px 15px 24px;

                        img {
                            padding-right: 0px !important;
                        }

                        @media(max-width: $xxl) {
                            padding: 12px 15px 12px 10px;
                        }

                        &:not(.collapsed)::after {
                            background-image: url('../../assets/images/sidebar/upWhiteAccordianArrow.svg');
                            right: 0px !important;
                            --bs-accordion-btn-icon-width: 1.25rem;
                            transform: rotate(0deg);

                            @media(max-width:$xxl) {
                                right: -10px !important;
                            }

                        }

                        &::after {
                            background-image: url('../../assets/images/sidebar/upWhiteAccordianArrow.svg');
                            right: -1px !important;
                            --bs-accordion-btn-icon-width: 1.25rem;
                            transform: rotate(-90deg);

                            @media(max-width:$xxl) {
                                right: -10px !important;
                            }
                        }
                    }

                    z-index: 2;
                    position: relative;

                    .navitemtxtWrapper {
                        .navText {
                            font-weight: 400;
                            font-size: 1rem;

                            @media(max-width:$xxl) {
                                font-size: 0.875rem;
                            }
                        }
                    }
                }

                // navbar active nav css accordian starts
                .activebar {
                    &.accordion-header {
                        &.fuel-list {
                            .accordion-button {
                                background: transparent !important;

                                img {
                                    filter: inherit !important;
                                }

                                &:not(.collapsed)::after {
                                    background-image: url('../../assets/images/sidebar/upWhiteAccordianArrow.svg') !important;
                                    --bs-accordion-btn-icon-width: 0.875rem;
                                }
                                .navText {
                                    color: $white !important;
                                }
                            }
                        }

                        .accordion-button {
                            background: $white;
                            border-radius: 30px;

                            img {
                                margin-bottom: 1px;
                                filter: brightness(0) saturate(100%);
                            }

                            .navText {
                                color: $dark;
                                font-weight: 500 !important;
                            }

                            &:not(.collapsed)::after {
                                background-image: url('../../assets/images/sidebar/upGreenAccordianArrow.svg');
                                height: 9px;
                                --bs-accordion-btn-icon-width: 0.875rem;
                            }

                            &::after {
                                background-image: url('../../assets/images/sidebar/upGreenAccordianArrow.svg');
                                height: 9px;
                                --bs-accordion-btn-icon-width: 0.875rem;
                            }
                        }
                    }
                }

                // navbar active nav css accordian ends

                .accordion-button.collapsed {
                    margin-bottom: 10px;

                    @media (max-width:$xxl) {
                        margin-bottom: 6px;
                    }
                }

                .accordion-collapse {
                    border-radius: 0px;

                    .accordion-body {
                        background: $primary;
                        color: $white;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }
            }

            .newaccordian {
                .nav li a>div {
                    height: auto;
                }

                .accordion-header .nav .nav-item .active:before {
                    width: 15px;
                    height: 2px;
                    content: "";
                    background-color: rgba(255, 255, 255, 0.4);
                    position: absolute;
                    z-index: 3;
                    left: -20px !important;
                    top: 8px !important;
                    transform: rotate(180deg);

                    @media(max-width:1370px) {
                        left: -14px !important;
                    }
                }

                .accordion-collapse.collapse.show {
                    .nav .nav-item .active:before {
                        display: none !important;
                    }
                }

                width: 218px !important;

                @media (max-width: $xxl) {
                    width: 160px !important;
                }

                .accordion-item {
                    .accordion-header {
                        &.fuel-list {
                            .accordion-button {
                                &.collapsed {
                                    &::after {
                                        height: 20px;
                                        --bs-accordion-btn-icon-width: 1.25rem !important;
                                    }
                                }

                                &::after {
                                    height: 20px;
                                    --bs-accordion-btn-icon-width: 1.25rem !important;
                                }
                            }
                        }

                        .accordion-button {
                            border: none;

                            &.collapsed {
                                margin-bottom: 0px;

                                &::after {
                                    background-image: url('../../assets/images/sidebar/upWhiteAccordianArrow.svg');
                                    right: 14px !important;

                                    @media(max-width:$xxl) {
                                        right: 4px !important;

                                    }

                                }
                            }

                            &::after {
                                background-image: url('../../assets/images/sidebar/upWhiteAccordianArrow.svg');
                                right: 14px !important;

                                @media(max-width:$xxl) {
                                    right: 7px !important;
                                }
                            }
                        }

                        &:after {
                            position: absolute;
                            left: 200px;
                        }
                    }

                    .accordion-body {
                        &::before {
                            display: none !important;
                        }

                        .nav {
                            .nav-item {
                                .navitemtxtWrapper {
                                    @media(max-width:$xxl) {
                                        padding: 12px 15px 9px 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .nav-item {
            a {
                text-decoration: none;
            }

            .navitemtxtWrapper {
                padding: 15px 16px 15px 24px;

                @media(max-width: $xxl) {
                    padding: 12px 9px 12px 10px;
                }

                .navText {
                    color: $white;
                    font-weight: 400;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;

                    @media(max-width:$xxl) {
                        font-size: 0.875rem;
                    }

                    .static {
                        background: $white;
                        border-radius: 30px;
                        padding: 4px 8px;
                        color: $dark;
                        margin-left: 10px;
                    }
                }

                z-index: 2;
                position: relative;

                img {
                    padding-right: 0px !important;
                    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(1deg) brightness(101%) contrast(101%);
                }
            }

            .active {

                .navitemtxtWrapper {

                    .navTextChild {
                        font-weight: 500 !important;
                    }
                }
            }

            .navTextChild {
                font-weight: 300 !important;
            }
        }

        // navbar active nav css starts
        .activebar {
            &.fuel-list {
                .navitemtxtWrapper {
                    background: inherit !important;

                    .navText {
                        color: inherit !important;
                    }
                }
            }

            &.barPosition {
                &:before {
                    @media(max-width:$xxl) {
                        top: -34px;
                    }
                }

                .navitemtxtWrapper {
                    background: transparent;

                    img {
                        filter: inherit;
                    }
                }

                .navText.role-txt {
                    color: $white !important;
                    font-weight: 500;
                }
            }

            .navitemtxtWrapper {
                background: $white;
                border-radius: 30px;

                img {
                    margin-bottom: 1px;
                    filter: brightness(0) saturate(100%)
                }

                .navText {
                    color: $dark !important;
                    font-weight: 500;

                    .static {
                        background: $orange;
                        border-radius: 30px;
                        padding: 4px 8px;
                        color: $white;
                        margin-left: 10px;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .accordion-button {
                .navitemtxtWrapper {
                    .navText {
                        font-weight: 400 !important;
                    }
                }
            }
        }

        // navbar active nav css ends
    }

    &::-webkit-scrollbar-thumb {
        background: $green;
        height: 8px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $green;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $primary;
        border-radius: 10px;
        height: 8px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
}