@import "../config/variable.module.scss";

.substain-screen {
  padding-bottom: 45px;

  .substain-screen-wraper {
    .substain-heading {
      .select-box {
        .custom-select {
          width: 140px;
        }
      }
    }

    .substain-section {
      .primaryCardInnerWprpper {
        .by-date {
          justify-content: center;
        }
        h4 {
          span {
            img {
              padding-right: 0px !important;
            }
          }
        }
      }
    }

    .overview-num {
      h4 {
        span {
          img {
            padding-right: 0px !important;
          }
        }
      }
    }

  }

  .addDataButton {
    background-color: $primary;
    min-height: 45px;
  }

}

img.arrow-up {
  transform: rotate(180deg);
}


.text-orange {
  color: $orange !important;
}