@import "../config/variable.module.scss";
@import "../config/mixin.scss";

.alternativeFuel-screen {


    .d-dropdown {
        @media(max-width:$sm) {
            width: 100%;
        }

        .selectFuel-dropdown {
            @media(max-width:$sm) {
                width: 100%;
            }
        }
    }

    .titleMain {
        display: flex;
        align-items: center;
        word-break: break-word;
        flex-wrap: wrap;
    }

    .logo-icon-name-wrapper {
        width: auto !important;

        .profileimgWrap {
            max-height: 43px;
            max-width: 85px;

            @media(max-width:1550px) {
                max-height: 37px;
                max-width: 80px;
            }
        }
    }

    .ev-master {
        border: 1px solid $primary;
        padding: 10px 16px;
        border-radius: 30px !important;
        @include dFlex;
        background-color: $white !important;
        gap: 8px;
        width: 144px;
        height: 55px;

        @media(max-width:1550px) {
            padding: 10px 8px;
            width: 138px;
            height: 50px;
        }

        input {
            margin-top: 0px !important;
        }

        .form-check-input {
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
        }
    }
    .companyBtn{
        border: 1px solid $gray-300;
        &.active{
            border: 1px solid $primary;
        }
        height: 45px;
    }

    .select-carrier {
        background-color: $white;
        border-radius: 26px;

        .carrier-items {
            >div {
                @media(max-width:$sm) {
                    width: 100%;
                }

                >div {
                    @media(max-width:$sm) {
                        width: 48.5%;
                    }
                }
            }
        }

        .moreContent {
            background-color: $newGray-300;
            width: 45px;
            height: 45px;
            border-radius: 50% !important;
            border: transparent;
        }
    }

    .accordion {
        .accordion-item {
            border: transparent;
            background: no-repeat;

            .mainGrayCards {
                box-shadow: none;
                border-radius: 0 0 12px 12px;
            }

            .accordion-button {
                color: #170F49;
                font-size: 20px;
                font-weight: 600;
                box-shadow: 0px 4px 11px 0px #00000008;
                background-color: $white;
                border-radius: 12px 12px 0 0 !important;
                padding: 14px 18px;
                margin-bottom: 0px;

                &.collapsed {
                    border-radius: 12px !important;
                }
            }

            &:last-of-type>.accordion-header .accordion-button.collapsed {
                padding: 14px 18px;
                border-radius: 12px !important;
                margin-bottom: 0px;
            }



            &:last-of-type>.accordion-collapse {
                box-shadow: 0px 4px 11px 0px #00000008;
            }
        }
    }

    .alternativeMap {
        >div {
            height: 600px;
            background-color: $white;
            border-radius: 26px;

            @media(max-width:1550px) {
                height: 450px;
            }

            @media(max-width:1270px) {
                height: 300px;
            }

            .map-outer-wrap {
                >div {
                    height: 600px !important;

                    @media(max-width:1550px) {
                        height: 450px !important;
                    }

                    @media(max-width:1270px) {
                        height: 300px !important;
                    }
                }
            }
        }

        &.loading {
            >div {
                justify-content: center;
                align-items: center;
                display: flex;
            }
        }
    }

    .selectFuel-dropdown {
        width: 230px;

        .css-nkt5xy-option {
            color: hsl(0deg 0% 62.83%) !important;
        }

        .innerdropdown {
            padding: 10px !important;
        }

        .css-1mkwlb9,
        .css-1l8753b,
        .css-1psoq9v,
        .css-qr46ko {
            div {
                cursor: pointer;

                label {
                    cursor: pointer;
                }
            }
        }

        label {
            cursor: pointer;
        }

        .css-d7l1ni-option {
            background-color: transparent !important;
        }

        .css-tr4s17-option {
            background-color: transparent !important;
            color: $black !important;
            cursor: pointer;
        }

        .css-1xc3v61-indicatorContainer,
        .css-15lsz6c-indicatorContainer {
            width: 27px;
            padding: 0px;
        }

        .css-13cymwt-control {
            min-height: 40px;
            cursor: pointer;

            .innerdropdown {
                width: 87%;

                @media(max-width: 1920) {
                    width: 88%;
                }

                span {
                    font-size: inherit !important;
                }
            }
        }

        h6 {
            color: $gray-800;
            font-weight: 300;
        }
    }

    .reagionCards {
        .primaryCard {
            .primaryCardInnerWprpper {
                img {
                    @media(max-width: 1550px) {
                        width: 55px;
                    }

                    width: 70px;

                    filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(700%) hue-rotate(111deg) brightness(98%) contrast(99%);

                }
            }

            &:hover {
                .primaryCardInnerWprpper {
                    img {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                    }
                }
            }
        }
    }


    .by-date {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;

        p {
            margin-bottom: 0px !important;
        }
    }

    .freightMap {
        >div:first-child {
            min-height: 380px !important;
            height: 380px !important;
        }
    }

    .static-table {
        @media(max-width:$lg) {
            overflow-x: auto;
        }

        table {
            @media(max-width:$lg) {
                width: 1000px;
            }

            th,
            td {
                &:last-child {
                    width: 114px;
                }

                padding: 0.875rem;
            }

            thead {
                th {
                    img {
                        width: 20px;
                        padding-right: 0px !important;

                        @media(max-width:1550px) {
                            width: 17px;
                        }
                    }
                }

                tr {
                    background-color: $gray-200;
                }
            }
        }
    }
}

.alternative-map {
    .gm-style-iw-chr {
        button {
            width: 20px !important;
            height: 20px !important;

            span {
                width: 16px !important;
                height: 16px !important;
                margin: 0px !important;
            }
        }
    }

    .index-wrapper {
        height: 150px;
        width: 18.75rem;
        padding: 0px !important;
        gap: 6px !important;

        .highIndex {
            img {
                width: 18px;
            }

            h5 {
                font-size: 0.875rem;
                gap: 6px !important;

                span {
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
    }

    .gm-style-iw-ch {
        padding-top: 0px !important;
    }
}

.map-outer {
    .gm-style .gm-style-iw-c {
        background-color: $white !important;
        padding: 12px !important;
    }

    .gm-style-iw-chr {
        button {
            width: 20px !important;
            height: 20px !important;

            span {
                width: 16px !important;
                height: 16px !important;
                margin: 0px !important;
            }
        }
    }

    .gm-style .gm-style-iw-tc::after {
        background: $white !important;
    }

    .gm-style-iw-ch {
        padding-top: 0px !important;
    }

    .index-wrapper {
        height: 150px;
        width: 18.25rem;
        padding: 0px !important;
        gap: 6px !important;

        .highIndex {
            img {
                width: 18px;
            }

            h5 {
                font-size: 0.875rem;
                gap: 6px !important;

                span {
                    color: $primary;
                    font-weight: 600;
                }

            }
        }
    }


}
.alternative-map .index-wrapper
{
   height: fit-content !important;
}
// emissionScreen css
.reagion-card {
    &.emissionCards {
       
        .map-outer-wrap {
            .index-wrapper {
                padding: 0px !important;
            }
            .gm-style .gm-style-iw-c {
                background-color: $white !important;
                padding: 12px !important;
            }
        
            .gm-style-iw-chr {
                button {
                    width: 20px !important;
                    height: 20px !important;
        
                    span {
                        width: 16px !important;
                        height: 16px !important;
                        margin: 0px !important;
                    }
                }
            }
        
            .gm-style .gm-style-iw-tc::after {
                background: $white !important;
            }
        
            .gm-style-iw-ch {
                padding-top: 0px !important;
            }
        }
        .select-box >div{
            @media(max-width:$sm){
            width: 100%;
            }
        }
        .alternativeMap>div {
            height: 513px !important;

            @media(max-width:1270px) {
                height: 300px !important;
            }

            .map-outer-wrap>div {
                height: 513px !important;

                @media(max-width:1270px) {
                    height: 300px !important;
                }
            }
        }

        .btn-wrapper{
            @media(max-width:$sm){
                width: 100%;
                margin-top: 10px;
                button{
                    width: 50%;
                }
            }
        }
        .vehicleDropdown.css-b62m3t-container,
        .vehicleDropdown.css-3iigni-container {
            width: 150px !important;
            @media(max-width:$sm){
                width: 100% !important;
            }
        }

        .btn-reset,
        .disabled-button {
            width: 89.93px;
            padding: 10px !important;
            border: 1px solid #f0f0f0;
        }

        .highcharts-label.highcharts-tooltip.highcharts-color-undefined {
            .highcharts-label-box.highcharts-tooltip-box {
                fill: $green !important;
            }

            text {
                fill: $white !important;
            }
        }

        .cards {
            h4 {
                display: none;
            }
        }

        .primaryCard {
            .low-reduction {
                span {
                    color: #71717A;
                }

                img {
                    width: 20px !important;
                    height: 20px !important;
                }

                margin-top: 2px;
            }

            &:hover {
                .low-reduction {
                    .text-deepgreen {
                        color: $white !important;
                    }

                    span {
                        color: $white;
                    }

                }
            }

            .primaryCardInnerWprpper {
                gap: 12px !important;
            }

            .by-date {
                text-align: left !important;
                margin-bottom: 10px;
                justify-content: start;


                .cardDate {
                    font-size: 1.25rem !important;
                    font-weight: 600 !important;

                    @media(max-width:1420px) {
                        font-size: 1rem !important;
                    }
                }

                .cardSub {
                    font-size: 1rem !important;

                    @media(max-width:1550px) {
                        font-size: 0.75rem !important;
                    }
                }
            }

            img {
                height: 65px !important;
                width: 65px !important;

                @media(max-width:1550px) {
                    height: 54px !important;
                    width: 50px !important;
                }

                @media(max-width:1400px) {
                    height: 54px !important;
                    width: 40px !important;
                }
            }

            .co-txt {
                justify-content: flex-start !important;

                .titleMain {
                    font-size: 1.5rem !important;
                    text-align: left !important;
                    font-weight: 600;


                    .matrix-value {
                        color: $gray-700;
                        font-weight: 500;
                    }

                    @media(max-width:1550px) {
                        font-size: 1.25rem !important;
                    }

                    @media(max-width:1400px) {
                        font-size: 1rem !important;
                    }

                    @media(max-width:$lg) {
                        font-size: 0.875rem !important;
                    }

                    .divider {
                        color: $gray-600;
                    }
                }
            }

            .primaryCardInnerWprpper {
                img {
                    filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(700%) hue-rotate(111deg) brightness(98%) contrast(99%);
                }
            }

            &.redcolor {
                .primaryCardInnerWprpper {
                    img {
                        filter: brightness(0) saturate(100%) invert(68%) sepia(70%) saturate(1384%) hue-rotate(316deg) brightness(99%) contrast(71%);
                    }
                }

                &:hover {
                    .primaryCardInnerWprpper {
                        img {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(102%) contrast(102%);
                        }
                    }
                }
            }

            &:hover {
                .primaryCardInnerWprpper {
                    img {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(102%) contrast(102%);

                    }
                }
            }
        }

    }
}


.highcharts-label.highcharts-tooltip.highcharts-color-undefined {
    .highcharts-label-box.highcharts-tooltip-box {
        fill: $primary;
    }

    text {
        fill: $white !important;
    }
}

.xtitle-value {
    position: absolute;
    left: 50%;
}

.reagion-card.emissionCards.matrix-card .primaryCard {
.primaryCardInnerWprpper{
     gap: 20px !important;
}
img{
    height: 70px !important;
    width: 70px !important;
}
.low-reduction {
                img {
                    width: 20px !important;
                    height: 20px !important;
                }

            }
} 



