@import "../config/variable.module";
@import "../config/mixin";


.regional-screen {
    .regional-screen-wraper {
        .regional-section {

            .mainGrayCards {
                .regionWiseTxt {
                    h6 {
                        font-size: 0.875rem;

                        span {
                            font-size: 0.875rem;
                        }
                    }
                }
            }

            .primaryCardInnerWprpper {
                h4 {
                    span {
                        img {
                            padding-right: 0px !important;
                        }
                    }
                }
            }
        }

       

        .static-table {

            th,
            td {
                padding: 16px 5px;
            }

            th:last-child,
            td:last-child {
                width: 135px;

                a {
                    color: $dark;
                }
                
            }

            th:first-child,
            td:first-child {
                width: 360px;

                @media (max-width: 1200px) {
                    width: 310px;
                }
                padding-left: 16px;
            }
        }

        .co-txt {
            h4 {
                font-size: 1.25rem;
                font-weight: 600;
            }

            padding-top: 10px;

        }

        h4 {
            font-size: 1rem;
            font-weight: 400;
        }

        .quartely {
            span {
                margin-bottom: 1px;
            }
        }
    }
}

.minHeightTxt {
    min-height: 96px;
}

.pointer-events-disabled {
    pointer-events: none;
}

.modal-dialog.data-tile-screen {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 42px auto;
    max-width: 90%;
    pointer-events: none;
    position: relative;
    width: auto;

    .modal-body {
        .card-border {
            border-radius: 24px;
            border: 1px solid $newGray-100;
            box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.03);

            .card-wrapper-txt {
                p {
                    min-height: 70px;
                }
            }

            .form-check {
                .form-check-input {
                    border: 1px solid $gray-600;
                    width: 18px;
                    height: 18px;
                    border-radius: 4px !important;

                    &:checked {
                        background-color: $primary;
                        border: none;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .btn-deepgreen {
        height: 46px !important;
    }

    .disabled-button {
        padding: 8px 48px !important;
    }
}