@import "../../scss/config/variable.module";

.lane-pagination {
    .select-box {
        .css-b62m3t-container,
        .css-3iigni-container {
            border-radius: 6px;
            .css-13cymwt-control,
            .css-16xfy0z-control {
                border-radius: 6px;
            }
            .css-t3ipsp-control {
                border-radius: 6px;
            }
        }
    }
}

.pagination {
    gap: 7px;
    margin-bottom: 0px !important;

    .page-link.active,
    .active>.page-link {
        z-index: 1;
        color: $white;
        background-color: $primary ;
        border-color: $primary;
        border-radius: 5px;
    }

    .page-link {
        color: $gray-700;
        border-radius: 5px;
        padding: 0 6px;
        min-width: 35px;
        width: auto;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-size: 30px !important;
        }

        &:focus {
            box-shadow: none;
        }
    }

}

.pagination-input {
    width: 90px;
    font-size: 0.875rem;
}