@import "../config/variable.module.scss";


.dashboardScreen {
    height: calc(100vh - 89px);
    overflow-y: auto;
    margin-top: 10px;

    @media(max-width:$xxl) {
        height: calc(100vh - 81px);
      
    }
    @media(max-width:$xl) {
        height: calc(100vh - 114px);
      
    }
    @media(max-width:$sm){
        height: calc(100vh - 186px);
        
    }
}