<div class="header">
    <div class="header-image">
        <img src="{{backgroundBase64}}" alt="Greensight background" class="background-img">
        <h1 class="bg-heading">Pepsi West Division Emissions Report</h1>
        <img src="{{logoBase64}}" alt="Greensight Logo" class="logo">
    </div>
</div>