@import "../config/variable.module.scss";

.benchmarks {
  .no-data-text{
    .bandGraph{
      .text-between{
        margin: 0px !important;
        height: 40vh;
        @include dFlex
      }
    }
  }
  .select-box {
    .search-icon-img {
      position: relative;

      span {
        .search-img {
          position: absolute;
          z-index: 9;
          left: 16px;
          top: 34%;
          width: 13px !important;
        }
      }

      .css-b62m3t-container,
      .css-3iigni-container {
        
        @media(max-width:1120px){
          width: 190px !important;
        }
        .css-13cymwt-control,
        .css-t3ipsp-control {

          .css-1fdsijx-ValueContainer,
          .css-hlgwow {
            padding-left: 30px !important;
          }
        }
      }
    }

    .css-16xfy0z-control {
      .css-1fdsijx-ValueContainer {
        padding-left: 25px;
      }
    }

  }
  .laneMap{
    .location-filter{
      @media(max-width:$sm){
        width: 100%;
      }
      .benchmarkdropdown{
        @media(max-width:$sm){
          width: 100% !important;
        }
      }
    }
  }

  .lane-search-dropdown {
    .css-1u9des2-indicatorSeparator {
      display: none;
    }

    div {
      font-size: 0.875rem;
      padding-left: 0.125rem;
    }
  }

  .border-line {
    border-bottom: 1px solid $gray-200;
  }

  .highcharts-credits {
    display: none !important;
  }

  .highchartMap {
    .gm-style-iw-chr{
      display: none !important;
    }
    .highcharts-tooltip-box {
      stroke: $white !important;
      fill: $white !important;
    }

    .highcharts-label.highcharts-tooltip {
      filter: none;

      span {
        position: unset !important;
      }
    }
  }

  .bandGraph {
    .highcharts-legend-item {
      .highcharts-point {
        width: 0.9375rem;
        height: 0.9375rem;
        border-radius: 0.4375rem;
        clip-path: none;
      }
    }
  }

  &.lanes {
    .select-box {
      .search-img {
        span {
          img {
            left: 14px;
          }
        }
      }
    }
  }
}

.index-wrapper {
  .highIndex {
    h5 {
      font-size: 1rem;
      color: $gray-700;
      font-weight: 500;
    }

    span {
      color: $green;
      font-weight: 600;

    }
  }

  .lowIndex {
    h5 {
      font-size: 1rem;
      color: $gray-700;
      font-weight: 500;

    }

    span {
      color: $orange;
      font-weight: 600;

    }
  }

  width: 15.25rem;
  padding: 0.5625rem;
  background: $white;
  border-radius: 0.5rem;
  padding-bottom: 0.3125rem;
}

.linesbefore {
  border-bottom: 0.125rem solid $gray-200;
  height: 0.1875rem;
  width: 13.5625rem;
}

.milesTxt {
  margin-left: -3.125rem;
}

.benchmarkMapui {
  .gm-ui-hover-effect {
    display: none !important;
    top: -1px !important;
    right: 1px !important;
  }

  .gm-style {
    .gm-style-iw-c {
      background-color: $white !important;
      padding: 0.75rem !important;
      padding-top: 20px !important
    }

    .gm-style-iw-d {
      overflow: auto !important;
      height: auto;
      max-height: 100% !important;
    }

    .gm-style-iw-tc {
      &::after {
        background: $white !important;
        top: -0.125rem;
        width: 1.5625rem;
      }
    }
  }

}

.recommendedLane {
  .benchmarkMapui {
    .gm-ui-hover-effect {
      display: block !important;
      top: -1px !important;
      right: 1px !important;
    }
  }
}

.dropdownSpinner {
  position: absolute;
  z-index: 9;
  top: 12px;
  left: 6px;

  .spinner-border {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
  }
}