@import "../config/variable.module.scss";

.dataManagement-screen {
    .backBtn-ui {
        .disabled-button {
            display: none;
        }
    }

    .dataManagementUser {
        min-height: calc(100vh - 206px);


        .dataManagementInnerCard>div {
            min-height: calc(100vh - 208px);
        }

        .dataManagementInnerCard {
            .createUserCard {
                padding: 70px 20px;

                h6 {
                    color: $gray-600;
                }

                @media (max-width:$xxl) {
                    padding: 50px 20px;
                }

                @media (max-width:$xl) {
                    padding: 35px 20px;
                }
            }

            .mainGrayCards {
                &.borderCard {
                    border: 2px dashed $primary;
                    cursor: pointer;
                    background: transparent;
                }

                &.borderCard.active {
                    border: 2px dashed $primary;
                    background: $lightgrey;
                }
            }
        }
    }

    .breadCrumbs {
        width: max-content;
        cursor: pointer;

        .default {
            color: $gray-600;
        }

        span {
            padding-top: 3px;
        }

        .primaryTxt {
            color: $primary;
            font-weight: 600
        }
    }

    .dataManagement-Wraper {
        @include mainSectionBg;

        .checkboxOuter {
            padding: 5px 5px 0px 5px;
        }

        .dataManagement_List {
            .deleteBtn-sec {
                .disabled-button {
                    display: none;
                }
            }

            .bottomline {
                border-bottom: 1px solid $gray-200;

                h4 {
                    margin-bottom: 0px;
                }
            }

            .firstRow.selectFolder {
                background-color: $lightgreen !important;
            }

            .static-table {
                th {
                    &:last-child {
                        width: 155px;
                        text-align: end;
                        padding-right: 25px;
                    }

                    &:first-child {
                        width: 415px;

                        @media (max-width:1430px) {
                            width: 355px;
                        }

                        @media (max-width:1240px) {
                            width: 255px;
                        }
                    }
                }

                td {
                    .file-name {
                        width: 310px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color:#464a4b;
                        .tootltip-div {
                            display: none;
                        }

                        &:hover {
                            .tootltip-div {
                                position: absolute;
                                background-color: $white;
                                padding: 6px;
                                box-shadow: 0 0 10px 0 #00000014;
                                max-width: 258px;
                                font-size: 0.75rem;
                                white-space: normal;
                                display: block;
                                z-index: 9;
                            }
                        }
                    }

                    .owner-name {
                        width: 216px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @media(max-width: 1530px) {
                            width: 157px;
                        }
                    }

                    padding-right: 10px;

                    &:last-child {
                        width: 155px;
                        text-align: end;
                        padding-right: 30px;
                    }

                    &:first-child {
                        width: 415px;

                        @media (max-width:1430px) {
                            width: 355px;
                        }

                        @media (max-width:1240px) {
                            width: 255px;
                        }
                    }

                    .errorMsg {
                        @include mainSectionBg;
                        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
                        width: 161px;
                        padding: 10px;
                        position: absolute;
                        z-index: 5;
                        top: 59px;
                        right: 14px;
                        display: none;

                        &.showErrorMsg {
                            display: block;
                        }
                    }

                    .dropdown-menu {
                        border: none;
                        background: transparent;
                    }


                    .action-btn-dropdown {
                        .dropdown-toggle {
                            background-color: transparent;
                            border: none;
                            padding: 0px;

                            &::after {
                                display: none;
                            }

                            &.bg_circle {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                background-color: transparent;
                            }

                            &.bgAction_circle {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                background-color: $gray-300;
                            }
                        }
                    }

                    .action-btnlist {
                        position: absolute;
                        right: 19px;
                        width: 190px;
                        background: $white;
                        padding: 12px;
                        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
                        border-radius: 4px;
                        z-index: 5;
                        display: none;

                        button {
                            padding: 8px 8px;
                        }

                        &.action-btnlistVisible {
                            display: flex;
                            flex-direction: column !important;
                            z-index: 99999999;
                            pointer-events: auto;
                        }

                        .gray-btn {
                            &:hover, &:active{
                                background: $gray-300 !important;
                                color: $dark;
                            }
                        }
                        .danger-btn{
                            &:hover,
                            &:active {
                              background: $orange !important;
                              color: $white;
                            }
                        }
                    }

                }

                tr:last-child:not(:first-child),
                tr:nth-last-child(2):not(:first-child),
                tr:nth-last-child(3):not(:first-child) {
                    td {
                        .action-btnlist {
                            bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

.dataManagement.modal-dialog {
    height: 100vh;
    --bs-modal-width: 500px !important;

    .modal-content {
        padding: 16px 16px 16px 20px;

        .modal-header {
            .modal-title {
                font-size: 1.25rem;
                font-weight: 600;
            }

            border-bottom: none;
        }

        .modal-body {
            .form-label {
                font-size: 1rem;
            }

            .form-select {
                padding: 10px;
            }

            .form-control {
                padding: 10px 10px;
                border-radius: 24px;

                &:focus {
                    border-color: $gray-500;
                    outline: 0;
                    box-shadow: none;
                }
            }

            .disabled-button {
                width: 100% !important;
                padding: 11px 15px !important;
            }
        }

        .gray-btn {
            background-color: $gray-200 !important;
        }
    }
}

// activity modal css
.dataManagement-Activity.modal-dialog {
    height: 100vh;
    --bs-modal-width: 560px !important;

    .modal-content {
        .modal-header {
            padding: 16px 16px 16px 20px;

            .modal-title {
                font-size: 1.375rem;
                font-weight: 600;
            }
        }

        .activityBody {
            padding: 0px 20px 25px;
            min-height: 307px;
            height: 307px;
            overflow-y: auto;

            .firstRow {
                border-bottom: 1px solid $gray-200;
                padding-bottom: 14px;
                margin-bottom: 14px;

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }

                h5 {
                    color: $gray-700;
                }

                h6 {
                    color: $gray-600;
                }
            }
        }

        .gray-btn {
            background-color: $gray-200 !important;
        }
    }
}


// move to folder modal css
.dataManagement-folder.modal-dialog {
    --bs-modal-width: 518px !important;
    height: 100vh;

    .modal-content {
        .modal-header {
            padding: 16px 16px 16px 20px;

            .modal-title {
                font-size: 1.25rem;
                font-weight: 600;
            }
        }

        .activityBody {
            .data-height {
                max-height: 166px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            h4 {
                padding: 0px 20px 0px;
            }

            .firstRow {
                padding: 10px 20px 10px;
                background-color: transparent;

                .arrow {
                    display: none;
                }

                &:hover {
                    background-color: $gray-200;

                    .arrow {
                        display: block;
                    }
                }

                &.selectFolder {
                    background-color: $lightgreen;

                    .arrow {
                        display: block;
                    }
                }
            }
        }
    }
}

.dataManagement-folderSuccessful.modal-dialog {
    --bs-modal-width: 480px !important;
    height: 100vh;

    .modal-content {
        .modal-header {
            padding: 16px 16px 16px 20px;
        }

        .activityBody {
            h4 {
                padding: 0px 20px 0px;
                color: $primary;
            }
        }
    }
}

.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000000 !important;
    --bs-backdrop-opacity: 0.6;
    background-color: var(--bs-backdrop-bg);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: var(--bs-backdrop-zindex);
}