@import "../config/variable.module";

.facilityOverview-screen {
  .primaryCardInnerWprpper {
    width: 306px;
  }

  .facilityOverview-screen-wraper {
    .facilityOverview-section {
      .custom-accordian {
        .accordian-header {
          background-color: $gray-200;
          border-radius: 8px;
          padding: 16px;

          .sign {
            color: $primary;
            font-size: 1.5rem;
            font-weight: 600;
            background-color: $gray-300;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            @include dFlex;
            cursor: pointer;
          }
        }
      }
    }
  }

  .co-txt {
    justify-content: flex-start !important;

    .titleMain {
      text-align: left !important;
    }
  }

  .manager-img-default {
    img {
      max-width: 60px;
    }
  }

}