@import "../config/variable.module.scss";


.evDashboard-main-screen-wrap {
    .highcharts-label.highcharts-tooltip{
        span{
            color: $white !important;
            font-size: 12px !important;
        }
    }
    .evDashboard-main-screen {
        background-color: $white;
        border-radius: 24px;
    }

    .react-datepicker-wrapper{
        @media(max-width:$sm){
            width: 100%;
        }
        input {
            width: 140px;
            padding: 6px 10px 5px 7px;
            @media(max-width:$sm){
                width: 100%;
            }
        }
    } 
    .lcvBorder{
        border: 1px solid #cfcfcf;
        border-radius: 48px;
    height: 40px;
    width: 80px;
    background-color: $white;
    padding: 10px;
    input{
        margin-top: 0px;
    }
    }

    .react-datepicker__input-container .react-datepicker__calendar-icon {
        top: 6px;
        right: 3px;
    }

    .select-box {
        margin-bottom: 0px !important;
        @media(max-width:$sm){
            width: 100%;
        }
    }

    .form-check-input {
        width: 1.1rem !important;
        height: 1.1rem !important;
        margin-top: 4px;

        @media(max-width:1550px) {
            width: 1rem !important;
            height: 1rem !important;
        }

        border: 1.5px solid $primary;
    }

    .arrow-wrap {
        button {
            img {
                width: 15px !important;
            }

            .green {
                filter: brightness(0) saturate(100%) invert(25%) sepia(42%) saturate(589%) hue-rotate(135deg) brightness(91%) contrast(90%);
            }
        }
    }

    .highcharts-label-box.highcharts-tooltip-box {
        fill: $green !important;
    }

    .disabled-button {
        font-size: 0.75rem;
        height: 40px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;

        @media(max-width:1270px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media(max-width:$lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media(max-width:$md) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media(max-width:$md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .emission-region {
        background-color: #ededf666;
        border-radius: 20px;

        .carrier-ev-img {

            width: 71px;
            height: auto;
        }

        img {
            padding-right: 0px !important;
        }
        .logo-img{
            width: 50px;
            height: 30px;
        }

        >div {
            min-height: 82px;

            @media(max-width:$xxl) {
                min-height: 71px;
            }
        }

        tbody {
            .activeRow {
                background-color: $limeGreen;

                td {
                    color: $dark;

                    .viewmap-btn {
                        color: $dark;

                        img {
                            filter: brightness(0) saturate(100%) invert(12%) sepia(11%) saturate(2523%) hue-rotate(195deg) brightness(90%) contrast(96%);
                        }
                    }
                }
            }
        }
    }

    .primaryCardInnerWprpper {
        img {
            width: 30px;
        }

        h4 {
            font-size: 1.25rem !important;
            font-weight: 700;
        }

        .by-date {
            text-align: start !important;

            p {
                line-height: 24px;

                &:nth-child(2) {
                    font-size: 0.75rem !important;
                }
            }
        }

        .co-txt {
            justify-content: start !important;
        }
    }

    .lastChild {
        h4 {
            display: none;
        }

        .primaryCard {
            &:hover {
                .arrow-wrap {
                    .text-deepgreen {
                        color: $white;
                    }
                }
            }
        }
    }

    .evNetwork-Wrapper {
        align-items: center;
        border: 1px solid $lightgreen;
        border-radius: 24px;
        height: 150px !important;
        justify-content: center;
        min-height: 121px !important;
        padding: 24px 16px;
        background-color: $white;

        img {
            width: 30px;
        }

        @media (max-width: 1520px) {
            padding: 24px 10px;
        }
    }

    .selected-carrier,
    .detail-carrier {

        .css-b62m3t-container .css-13cymwt-control,
        .css-b62m3t-container .css-16xfy0z-control,
        .css-3iigni-container .css-13cymwt-control,
        .css-3iigni-container .css-16xfy0z-control {
            min-height: 40px !important;
            border-radius: 24px;
        }

        .css-b62m3t-container,
        .css-3iigni-container {
            min-width: 160px;
        }
    }

    .btn-deepgreen {
        height: 40px;
    }

    .select-box .css-t3ipsp-control {
        min-height: 40px !important;
    }

    .crossBtn {
        background-color: $primary;
        color: $white;
        padding: 0px 6px;
        border-radius: 10px;
        font-size: 0.75rem;
        border: none;

        img {
            filter: grayscale(100%) brightness(1000%);
            width: 7px;
        }
    }

    .compare {
        width: 89px !important;
    }

    .static-table {
        &.jbHunt {

            th:last-child,
            td:last-child {
                width: auto;
            }
        }

        th:last-child,
        td:last-child {
            width: 108px;
        }

        th {
            font-weight: 600;
        }

        th,
        td {
            padding: 12px 16px;
            font-size: 1rem;

            @media(max-width:1550px) {
                font-size: 0.875rem;
            }
        }

        tbody {
            tr {

                .viewmap-btn {
                    background-color: transparent;
                    padding: 0px;
                }

            }
        }
    }

    .shipment-wrap {
        background-color: $primary;
        border-radius: 24px;
        color: $white;
    }

    .shipmentWrapper {
        background-color: $primary;
        border: 1px solid $lightgreen;
        border-radius: 24px;

        .overview-num {
            h4 {
                color: $lightgreen !important;
            }
        }
    }

    .highcharts-background {
        fill: #f8f8fb;
    }


    .backBtn {
        padding-block: 0px !important;
    }

    .company-wrapper {
        background-color: #eee;
        border: 1px solid #d1d1d1;
        border-radius: 30px !important;
        justify-content: center;
        padding: 10px 16px;
        width: 148px;
        height: 56px;

        @media(max-width:1480px) {
            width: 131px;
        }
        &:active {
            background: $white;
            border: 1px solid $primary
        }

        @media (max-width: 1360px) {
            height: 48px;
            width: 123px;
            padding: 10px 10px;
        }
        @media(max-width:$sm){
            width: 48%;
        }

        &.selected-wrapper {
            background-color: $white;
            border: 1px solid $primary;
        }

        img {
            width: 92px;
            height: 40px;
            object-fit: contain;

            @media (max-width: 1360px) {
                width: 70px;
                height: 31px;
            }
        }
    }

    .filter-wrapper {
        background-color: $white;
        border-radius: 24px;
        margin-bottom: 16px !important;

        .moreContent {
            background-color: #F1F1F1;
            width: 45px;
            height: 45px;
            border-radius: 50% !important;
            border: transparent;
        }
    }

    .ev-master {
        background-color: #eee;
        border: 1px solid #d1d1d1;
        border-radius: 30px !important;
        justify-content: center;
        padding: 10px 16px;
        width: 148px;
        height: 56px;

        @media(max-width:1600px) {
            width: 138px;
        }

        @media(max-width:1550px) {
            width: 130px;
        }

        @media (max-width: 1450px) {
            height: 47px;
            width: 123px;
            padding: 10px 10px;
        }
        @media(max-width:$sm){
            width: 48%;
        }

        .carrier-icon-logo {
            width: 92px;
            height: 40px;
            object-fit: contain;

            @media (max-width: 1360px) {
                width: 80px;
                height: 31px;
            }
        }
    }

    .selectFuel-dropdown {
        width: 211px;
        @media(max-width:$sm){
            width: 100%;
        }

        .innerdropdown {
            padding: 10px !important;
        }

        .css-d7l1ni-option {
            background-color: transparent !important;
        }

        .css-tr4s17-option {
            background-color: transparent !important;
            color: $black !important;
        }

        .css-1xc3v61-indicatorContainer, .css-151sz6c-indicatorContainer {
            width: 27px;
            padding: 0px;
        }
        .css-t3ipsp-control{
            min-height: 40px;
        }
        .css-13cymwt-control{
            min-height: 40px;
            cursor: pointer;
          
            .innerdropdown {
                width: 87%;

                @media(max-width: 1920) {
                    width: 88%;
                }

                span {
                    font-size: inherit !important;
                }
            }
        }

        h6 {
            color: $gray-800;
            font-weight: 300;
        }
    }

    .form-check-input[type=checkbox] {
        border-radius: 2.25em;
    }

    .selected-carrier {
        .select-box {
            margin-bottom: 0px !important;
        }

        .downloadBtn {
            @media(max-width:$sm){
                margin-top: 10px;
                width: 100%;
            }
            img {
                width: 20px;
                filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(181deg) brightness(104%) contrast(107%);
            }

            &:hover {
                img {
                    filter: brightness(0) saturate(100%) invert(25%) sepia(42%) saturate(589%) hue-rotate(135deg) brightness(91%) contrast(90%);
                }
            }
        }
    }
}