@import "../config/variable.module";

.carrier-screen {
    .tab-content {
        background-color: $white;
        padding: 24px;
    }
    .carrier-heading{
        @media(max-width:$sm){
            width: 100%;
        }
    }
    .filters-inner{
        >div{
            @media(max-width:$sm){
                width: 100%;
            }
        }
    }

    .disabled-button {
        color: $gray-700;
        opacity: 0.5;
        font-weight: 400 !important
    }

    .range-thumb-outer {
        width: 20px !important;
        height: 20px !important;
        border-radius: 50% !important;
        background-color: $white !important;
        border: 0.5px solid $primary !important;
        box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08) !important;
        position: relative;

        &:focus-visible {
            outline: none !important;
        }

        .tooltip-range {
            position: absolute;
            background-color: $white;
            height: 28px;
            min-width: 50px;
            bottom: -40px;
            box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08) !important;
            @include dFlex;

            span {
                position: absolute;
                border: 0px;
                top: -6px;
                transform: rotate(225deg);
                width: 11px;
                height: 11px;
                background-color: $white;
                box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08) !important;
            }
        }
    }

    .range-thumb-inner {
        width: 10px !important;
        height: 10px !important;
        border-radius: 50% !important;
        background-color: $primary !important;
        border: none !important;
        top: inherit !important;
    }

    .nav-tabs {
        border: 0;
    }

    .nav-link,
    .nav-link.active {
        color: $primary;
        font-weight: 500;
        font-size: 1rem;
        border: 0;
    }

    .carrier-screen-wraper {
        .carrier-section {
            .filter-inner{
                >div{
                  @media(max-width:$sm){
                    width: 100%;
                  }
                  >div{
                    @media(max-width:$sm){
                        width: 100%;
                      }
                      .carrire-search-dropdown{
                        @media(max-width:$sm){
                            width: 100% !important;
                          }
                      }
                  }
                }
              }
              .compare-btns{
                button{
                    @media(max-width:$sm){
                        width: 100%;
                    }
                }
              }
            .select-box {
                .search-icon-img {
                    position: relative;

                    span {
                        .search-img {
                            position: absolute;
                            z-index: 1;
                            left: 16px;
                            top: 34%;
                            width: 20px;
                            @media(max-width: 720px){
                                top: 44%;
                            }
                        }
                    }

                    .css-b62m3t-container,
                    .css-3iigni-container {
                        width: 280px;

                        @media (max-width:$xxl) {
                            width: 200px;
                        }

                        .css-13cymwt-control,
                        .css-t3ipsp-control,
                        .css-16xfy0z-control {

                            .css-1fdsijx-ValueContainer,
                            .css-hlgwow {
                                padding-left: 32px !important;
                            }
                        }
                    }
                }

                .disabled-button {
                    padding: 4px 14px;
                    opacity: 1 !important;
                }

                .css-16xfy0z-control {
                    .css-1fdsijx-ValueContainer {
                        padding-left: 25px;
                    }
                }
            }

            .search-carrier {
                @media(max-width:1467px) {
                    @include dFlex
                }
                @media(max-width:$sm){
                    width: 100% !important;
                }
                >div{
                    @media(max-width:$sm){
                        width: 100%;
                    }
                }

                @media(max-width:1395px) {
                    width: auto;
                }

                input {
                    border: 1px solid $lightgreen;
                    border-radius: 24px;
                    font-size: 1rem;
                    padding: 9px 10px 9px 35px;
                    width: 100%;

                    &:focus-visible {
                        outline: none;
                    }
                }

                span {
                    img {
                        position: absolute;
                        top: 13px;
                        left: 16px;
                        width: 14px;
                        padding-right: 0px !important;

                    }
                }
            }

            .static-table {
                background-color: $white;
                border-radius: 24px;

                th,
                td {
                    padding: 16px 5px;
                }

                th:last-child,
                td:last-child {
                    width: 135px;

                    a {
                        color: $dark;
                    }
                }

                th:first-child,
                td:first-child {
                    width: 360px;

                    @media (max-width: 1200px) {
                        width: 310px;
                    }

                    padding-left: 16px;

                }
            }
        }
    }

    .carrier-comparision {
        .logo-icon-name-wrapper {
            width: auto !important;
        }

        .imgTxtWrap {
            margin-left: 6px;
        }

        .disabled-button {
            color: $gray-800;
            background: $gray-400;
        }

        .carrierLogoTooltip {
            &:hover {
                .carrierLogoTooltip_text {
                    top: 45px;
                    left: 34px;

                    .arrowDiv {
                        top: -5%;
                        left: 33px;
                    }
                }
            }
        }

        .lastComparision {
            .carrierLogoTooltip {
                &:hover {
                    .carrierLogoTooltip_text {
                        bottom: -4px;
                        top: auto;
                        left: 136px;

                        .arrowDiv {
                            bottom: 13%;
                            top: auto;
                            left: -6px;
                        }
                    }
                }
            }
        }
    }
}