@import "../config/variable.module";

.profile-screen {
    .profile-screen-wraper {
        .profile-section {
            .headingBorder {
                border-bottom: 1px solid $gray-200;
            }

            .createProfileCard {
                border-radius: 24px;
                border: 1px solid $newGray-100;
                background: $white;
                box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.03);

                .uploadImageSection {
                    .uploadImage {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;

                        img {
                            width: 150px;
                            max-width: 150px;
                            max-height: 150px;
                            height: 150px;
                            border-radius: 50%;
                        }

                        .imageupload {
                            width: auto;
                            position: absolute;
                            bottom: 10px;
                            height: 38px;
                            right: 4px;
                            cursor: pointer;
                        }
                    }
                }

                h6 {
                    color: $gray-600;
                }
            }

            .profiletitle {
                .form-control {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .spacebelow > div{
        margin-bottom: 6px !important;
    }
}