@import "../config/variable.module";

.projectDetail-screen {
  .grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1550px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $xl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .trackBtn {
    background-color: $green;
    color: $white;
    border: 1px solid $green;
    border-radius: 4px;
  }

  .location {
    color: $gray-800;
  }

  .greenValue {
    color: $green;
  }

  .redValue {
    color: $orange;
  }

  .mail {
    .mailID {
      color: $gray-700;
    }
  }

  .lane-data-wrapper {
    .emission {
      h6 {

        @media(max-width:$xxl) {
          height: 16px;
        }
      }
    }
  }

  .manager {
    @media screen and (min-width: $xl) {
      border-right: 1px solid $lightSilver;
    }
  }

  .people {
    display: flex;
    align-items: center;

    .peopleImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;

      .logo-icon-name-wrapper {
        padding: 0px !important;
        margin: 0px !important;
        width: auto !important;
        height: auto !important;

        img {
          max-width: 100%;
          height: auto;
        }

        .logo-icon-name {
          margin-left: auto !important;
          width: 40px;
          height: 40px;
        }
      }
    }

    .peopleImage:nth-of-type(n + 2) {
      margin-left: -11px;
    }
  }

  .distance {
    color: $green !important;

    &.highData {
      color: $orange !important;
    }
  }

  .alternativeFuel {
    .calculation-wrapper {
      .calculationsData {
        .accordion-item {
          .accordion-body {
            background-color: $gray-200;
          }
        }
      }
    }

    background-color: $lightgrey;

    .cardRecommendation {
      border-radius: 24px;
      border: 1px solid $newGray-100;
      background: $white;
      box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.03);
      overflow: hidden;

      .title {
        background-color: $gray-200;
      }

      .emissionRow {
        border-bottom: 1px solid $gray-200;
      }

      .arrow {
        max-width: 14px;
        display: inline-block;
      }
    }

    .recommendationMain-card {
      border-radius: 25px;

      .recommendationTxt {

        .form-check-label {
          color: $primary;
          font-size: 0.875rem;
          font-weight: 400;
        }

        .form-check {
          margin-top: 2px;
        }
      }

      .fuelStop {
        .stopNum {
          color: $primary;
        }
      }

      .distanceWrapper {
        h4 {
          span {
            img {
              width: 12px;
              margin-bottom: 3px;

              @media (max-width: 1400px) {
                width: 10px;
              }
            }
          }
        }

        padding-block: 16px;
        border-bottom: 1px solid $gray-500;
      }

      .recommendedlineImage {
        span {
          width: 50px;
          height: 2px;
          border-radius: 8px;
          background-color: $success;
          display: block;
        }
      }

      .baseLineImage {
        span {
          width: 50px;
          height: 2px;
          border-radius: 8px;
          background-color: $orange;
          display: block;
        }
      }
    }
  }

  .projectdetailMap {
    .gm-style .gm-style-iw-c {
      background-color: $white !important;
    }

    .gm-style .gm-style-iw-tc::after {
      background: $white !important;
    }

    .gm-style-iw-ch {
      padding-top: 0px !important;
    }

    .gm-style-iw-chr {
      button {
        width: 28px !important;
        height: 28px !important;

        span {
          margin: 0px !important;
        }
      }
    }

    .resetBtn-zoom {
      right: 10px;
      bottom: 102px;
    }

    .mapOutter {
      >div:first-child {
        height: 410px !important;
        border-radius: 8px;
      }
    }

  }
  .tableImage{
    .logo-icon-name-wrapper{
      display: block !important;
    }
  }
  
 
 .radius-checkbox {
        width: 260px;
 
 .css-t3ipsp-control,
      .css-13cymwt-control,
    .css-16xfy0z-control {
      min-height: 33px;
    }
  }

}