@import "../config/variable.module";

.chatbot-outer-screen {
    position: absolute;
    z-index: 9;
    right: 32px;
    bottom: 20px;

    .chatbot-tooltip-wrap {
        .chatbot-tooltip {
            display: none;
            position: absolute;
            width: 184px;
            right: 0px;
            bottom: 54px;
            background-color: $white;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
            padding: 10px;
            border-radius: 6px;
        }

        &:hover {
            .chatbot-tooltip {
                display: block;
            }
        }
    }

    .chatbot-ai {
        width: 70px;
        height: 70px;
        background-color: $green;
        border-radius: 50% !important;
        cursor: pointer;
        @include dFlex;
        border: none;

        &.cross-icon {
            img {
                width: 30px !important;

                @media(max-width:1780px) {
                    width: 25px !important;
                }

                @media(max-width:1500px) {
                    width: 20px !important;
                }
            }
        }

        img {
            padding-right: 0px !important;
            width: 47px !important;

            @media(max-width:1780px) {
                width: 40px !important;
            }

            @media(max-width:1500px) {
                width: 30px !important;
            }
        }

        @media(max-width:1780px) {
            width: 60px;
            height: 60px;
        }

        @media(max-width:1500px) {
            width: 48px;
            height: 48px;
        }
    }

    .edit-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid transparent;
        @include dFlex;

        &:hover {
            background-color: $green;
            border: 1px solid $green;

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(7467%) hue-rotate(176deg) brightness(121%) contrast(107%);
            }
        }

    }

    .main-text {
        height: 430px;
        @include dFlex;
        text-align: center;

        .gray-txt {
            color: $gray-700;
        }

        @media(max-width:1500px) {
            height: 375px;
        }

        .chatbot-cards {
            background-color: $green !important;
            border-radius: 8px;
            border: 1px solid $green;
            width: 100%;

            h3 {
                color: $white;
            }

            p {
                color: $white;
            }

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(133deg) brightness(105%) contrast(101%);
            }

            &.disabled {

                background-color: $gray-200 !important;
                border: 1px solid $gray-200;

                h3 {
                    color: #a4a4a4;
                }

                p {
                    color: #a4a4a4;
                    visibility: hidden;
                }

                img {
                    filter: brightness(0) saturate(100%) invert(62%) sepia(0%) saturate(1%) hue-rotate(353deg) brightness(93%) contrast(91%);
                }

            }
        }
    }

    .cross-header {
        img{
            width: 15px;
        }
      
    }

    .chatbot-screen {
        background-color: $white;
        border-radius: 8px;
        position: absolute;
        inset: 0px 0px auto auto;
        transform: translate3d(0px, -555.6364px, 0px);
        width: 760px;

        @media(max-width:1500px) {
            width: 683px;
            transform: translate3d(0px, -473.6364px, 0px);
        }

        @media(max-width:1250px) {
            transform: translate3d(0px, -402.6364px, 0px);
        }


        .header {
            background-color: $green;
            border-radius: 8px 8px 0px 0px;
            padding: 8px !important;

            h3 {
                color: $white;
            }
        }

        .chatbot-inner-section {
            background-color: $white;
            border-radius: 0px 0px 8px 8px;
            height: 510px;
            position: relative;
            padding: 8px;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);

            @media(max-width:1500px) {
                height: 433px;
            }

            @media(max-width:1250px) {
                height: 355px;
            }

            .disabled-button {
                padding: 4px 15px !important;
                height: 32px !important;
                background-color: $gray-200 !important;
                border: 1px solid $gray-200;
                font-weight: 400;
            }
        }

        .text-area-wrapper {
            position: absolute;
            bottom: 14px;
            right: 18px;
            width: 95%;

            @media(max-width:1500px) {
                right: 16px;
                width: 94.5%;
                height: 38px;
            }
            .disabled-button{
                background-color: transparent !important;
                border:1px solid transparent !important
            }
        }

        .chatbot-message-section {
            max-height: 450px;
            min-height: 450px;
            overflow-y: auto;
            margin-bottom: 5px;
            padding-bottom: 38px;

            @media(max-width:1500px) {
                max-height: 382px;
                min-height: 382px;
            }

            &::-webkit-scrollbar {
                display: none;
            }

        }

        .btn-green {
            background-color: $green;
            color: $white;
            font-size: 0.75rem;
            border-radius: 8px;
            border: 1px solid $green;
            padding: 6px 10px;
            height: 32px;
        }

        .btn-gray {
            background-color: $gray-600 ;
            border: 1px solid $gray-600;
            color: $gray-800;
            font-size: 0.75rem;
            border-radius: 8px;
            padding: 4px 10px;
            height: 30px;
        }

        .btn-outline {
            background-color: $white;
            border: 1px solid $gray-200;
            color: $gray-700;
            font-size: 0.75rem;
            border-radius: 8px;
            padding: 6px 10px;
        }

        form {
            .text-area {
                width: 100%;
                min-height: 38px;
                max-height: 38px;
                border: 1px solid #CACACA;
                border-radius: 8px;
                padding: 8px 51px 8px 10px;
                font-size: 0.875rem;
                resize: none;

                &:focus-visible {
                    outline: none;
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            >div {
                margin-bottom: 0px !important;
                position: relative;

                .form-label {
                    display: none;
                }
            }

            img {
                position: absolute;
                right: 7px;
                bottom: 9px;
                width: 30px;
                cursor: pointer;
                padding-right:0px !important;
                @media(max-width:1500px) {
                    bottom: 5px;
                }
            }

        }

        .sender {
            .sender-wrapper {
                background-color: $green;
                width: 434px;
                border-radius: 6px;
                color: $white;
                padding: 10px;
                line-height: 14px;
                word-break: "auto-phrase";
            }

            .gray-btn {
                border-radius: 4px;
                padding: 5px 10px;
                background-color: transparent !important;
                border: 1px solid $gray-600 !important;
            }

            .btn-green {
                background-color: $green;
                border: 1px solid $green;
                color: $white;
                padding: 5px 12px;
                border-radius: 4px;
            }
        }

        .chatbot {
            h6 {
                color: $gray-600;
            }

            .chatbotai-wrapper {
                width: 434px;
                border-radius: 6px;
                color: $gray-900;
                background-color: $gray-100;
                padding: 12px;
            }
        }

    }
}