@import "../config/variable.module";

.bidsPlanning-outerScreen {
    @include mainSectionBg;

    .bidsPlanning-UploadWrapper {
        min-height: calc(100vh - 228px);
    }
    .searchBars{
        .resetBtns{
            @media(max-width:$sm){
                flex-wrap: wrap;
                >div{
                    width: 100%;
                    button{
                        width: 100% !important;
                    }
                }
            }
        }
    } 

    .highcharts-label-box.highcharts-tooltip-box {
        fill: $white !important;
    }

    .matrixLoader {
        .spinner-border {
            --bs-spinner-width: 1rem;
            --bs-spinner-height: 1rem;
        }
    }

    .download {
        background-color: #42A278;
        border: 1px solid #42A278;
        color: $white;

        img {
            filter: brightness(0) invert(1);
        }
    }

    .upload {
        img {
            padding-right: 0px !important;
            filter: brightness(0) invert(1);
        }

        &:hover {
            img {
                filter: inherit;
            }
        }
    }

    .progressBtn {
        .disabled-button {
            width: 151px;
            height: 42px;
        }
    }

    .previewFile {
        background-color: transparent;
        border: none;
        padding: 0px !important;
        font-size: 0.875rem;
        color: $gray-800;
        text-decoration: underline;
    }

    .downloadListView {
        height: 35px;
        width: 110px;
    }

    .downloadReport {
        @media(max-width:$sm){
            width: 100%;
        }
        button {
            img {
                filter: brightness(0) invert(1);
                padding-right: 0px !important;
            }
        }

        &:hover {
            span {
                img {
                    filter: invert(0%) sepia(3%) saturate(7500%) hue-rotate(217deg) brightness(0%) contrast(100%);
                }
            }
        }
    }

    .bid-Output {
        .outPut-heading {
            .filterBtns {
                @media(max-width:$sm) {
                    width: 100%;

                    button {
                        width: 100%;
                    }
                }
            }

            .downloadListView {
                height: 42px;
                width: 130px;
                padding: 0px;
                .loaderBtn{
                    justify-content: center;
                }
                img {
                    filter: brightness(0) invert(1);
                    padding-right: 0px !important;
                }

                &:hover {
                    img {
                        filter: invert(0%) sepia(3%) saturate(7500%) hue-rotate(217deg) brightness(0%) contrast(100%);
                    }
                }
            }
        }

        .pieChart {
            .highcharts-label-box.highcharts-tooltip-box {
                fill: $white;
            }
        }

        .highcharts-subtitle {
            font-family: $fontPoppins !important;
            color: $gray-800;
            font-size: 1rem !important;
            font-weight: 500;

            @media (max-width:1450px) {
                font-size: 0.75rem !important;
            }
        }

        .highcharts-axis-labels {
            font-family: $fontPoppins !important;
            font-size: 0.875rem !important;
            color: $gray-800;
        }

        .outputMap {
            .resetBtn-zoom {
                display: none;
            }

            >div:first-child {
                min-height: 150px !important;
                height: 150px !important;
            }

            position: relative;

            .mapbtn-screen {
                position: absolute;
                top: 6px;
                right: 6px;
                border: transparent;
                background: transparent;

                img {
                    padding: 0px !important;
                    width: 20px;
                }
            }

            .gmnoprint {
                display: none !important;
            }
        }

        .tableHeading-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .heading {
                h5 {
                    word-break: break-all;
                }
            }

            @media (max-width:1550px) {
                display: block;

                .heading {
                    margin-bottom: 10px;
                }
            }

            .disabled-button {
                height: 39px;
                width: 90.50px;
            }

        }

        .select-box {
            .arrow-icons {
                @media(max-width:$sm) {
                    width: 100%;
                }

                button {
                    background: transparent;
                    border: transparent;
                    padding: 0px !important;

                    span {
                        img {
                            padding-right: 0px !important;
                        }
                    }
                }
            }

            .search-icon-img {
                position: relative;

                @media(max-width:$sm) {
                    width: 100%;
                }

                .dropdownSpinner {
                    position: absolute;
                    z-index: 9;
                    top: 15px;
                    left: 6px;
                    &.spinnerNew{
                        left: 12px;
                    }
                }

                span {
                    .search-img {
                        position: absolute;
                        z-index: 9;
                        left: 12px;
                        top: 34%;
                        width: 15px;
                        &.searchImgNew{
                            width: 15px !important;
                             left: 14px;
                        }

                        @media(max-width:$sm) {
                            top: 43%;
                        }
                    }
                }

                &.sace-code {

                    .css-b62m3t-container,
                    .css-3iigni-container {
                        width: 160px;

                        @media (max-width:$xxl) {
                            width: 160px;
                        }

                        @media (max-width:$sm) {
                            width: 100%;
                        }
                    }
                }

                .css-b62m3t-container,
                .css-3iigni-container {
                    width: 240px;

                    @media (max-width:$xxl) {
                        width: 190px;
                    }

                    @media (max-width:$sm) {
                        width: 100%;
                    }

                    .css-13cymwt-control,
                    .css-t3ipsp-control,
                    .css-16xfy0z-control {

                        .css-1fdsijx-ValueContainer,
                        .css-hlgwow {
                            padding-left: 25px !important;

                            .css-1jqq78o-placeholder {
                                font-size: 0.875rem !important;
                                text-align: start;
                                padding-left: 6px;


                                @media (max-width:$xxl) {
                                    font-size: 0.75rem !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .grid-container {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            height: 100%;
        }

        .line {
            background-color: $gray-700;
            height: 2.25rem;
            width: 0.0625rem;
            opacity: 0.2;

            @media(max-width:$sm) {
                display: none;
            }
        }

        .static-table {
            overflow-x: auto;

            table {
                max-width: 1920px;
                width: 1920px;

                @media(max-width:$xxl) {
                    width: 1530px;
                }
            }

            th,
            td {
                padding: 0.6rem;
                word-break: break-word;
                border-bottom: 1px solid $gray-500;
                font-size: 0.875rem;

                @media(max-width: $xxl) {
                    font-size: 0.75rem;
                }
            }

            th {
                font-weight: 500 !important;

                &:first-child {
                    width: 410px;

                    @media(max-width:$xxl) {
                        width: 280px;
                    }
                }

                &:last-child {
                    width: 410px !important;

                    @media(max-width:$xxl) {
                        width: 293px !important;
                    }
                }

            }

            tbody {
                tr {
                    background-color: $gray-100;

                    td {

                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6),
                        &:nth-child(7),
                        &:nth-child(8),
                        &:nth-child(9) {
                            background-color: #C1D3C066;
                        }
                    }
                }
            }

        }

        .biofuel-wrapper {
            border: 1px solid $gray-400;
            background-color: $white;
            border-radius: 8px;
            flex: 0 0 calc(20% - 7px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            @media (max-width: $xl) {
                flex: 0 0 calc(25% - 6px);
            }

            @media (max-width: $lg) {
                flex: 0 0 calc(33.33% - 6px);
            }

            @media (max-width: $md) {
                flex: 0 0 calc(50% - 6px);
            }

            @media (max-width: $sm) {
                flex: 1 0 calc(100% - 20px);
            }

            .laneName {
                color: $primary;
                word-break: break-word;
            }
        }
    }

    .bidsplanning-innerWrapper {
        min-height: calc(100vh - 208px);

        .icon-pdf {
            width: 20px;
            padding-right: 0px !important;

            @media(max-width:1400px) {
                width: 15px;
            }
        }

        .uploadFile-wrapper {
            border: 1px dashed $primary;
            background: $gray-100;
            border-radius: 24px;
            min-height: 400px;
            @include dFlex;
            flex-direction: column;

            @media(max-width:1550px) {
                min-height: 400px;
            }

            img {
                width: 85px;
            }

            h4 {
                color: $gray-700;

                span {
                    color: $primary;
                    text-decoration: underline;
                }
            }

            .browser {
                background-color: transparent;
                border: none;
                color: $primary;
                text-decoration: underline;
            }

            &.active {
                background: rgba(33, 81, 84, 0.10);
            }
        }

        .uploadfileStatus {
            display: flex;
            gap: 16px;

            @media(max-width:1700px) {
                display: block;
            }

            .upload {
                img {
                    filter: brightness(0) invert(1);
                }

                &:hover {
                    img {
                        filter: invert(0%) sepia(3%) saturate(7500%) hue-rotate(217deg) brightness(0%) contrast(100%);
                    }
                }
            }
        }

        .sampleFile-bg {
            background-color: $gray-200;
            padding: 30px 24px;
            border-radius: 24px;

            @media(max-width:1400px) {
                padding: 24px 18px;
            }
        }

        .fileName-Wrapper {
            width: 370px;
            max-width: 500px;

            @media(max-width:1700px) {
                width: 420px;
            }

            @media(max-width:$xl) {
                width: 320px;
            }

            p {
                color: $primary;
            }
        }

        .progress {
            border-color: $primary;

            .progress-bar {
                background-color: $primary;
            }
        }
    }

    .file-name {
        width: 292px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;

        @media (max-width:1430px) {
            width: 220px;
        }

        @media (max-width:1240px) {
            width: 185px;
        }

        .tootltip-div {
            display: none;
        }

        &:hover {
            .tootltip-div {
                position: absolute;
                background-color: $white;
                padding: 6px;
                box-shadow: 0 0 10px 0 #00000014;
                max-width: 258px;
                font-size: 0.75rem;
                white-space: normal;
                display: block;
                z-index: 10;
                word-wrap: break-word;
                top: 0px;
            }
        }
    }

    .lanesTableBid {
        .static-table {
            @media(max-width:$md) {
                overflow-x: auto;
            }

            table {
                @media(max-width:$md) {
                    width: 767px;
                }

                th {
                    padding: 1rem 0.5rem 1rem 0.7rem;
                    font-size: 1rem;

                    @media (max-width:$xxl) {
                        font-size: 0.875rem;
                    }

                    &:first-child {
                        width: 230px;
                    }
                }

                tbody {
                    tr {

                        td {
                            padding: 1rem 0.5rem 1rem 0.7rem;
                            font-size: 1rem;

                            @media (max-width:$xxl) {
                                font-size: 0.875rem;
                            }

                            &:first-child {
                                width: 230px;
                                position: relative;

                            }

                            color: $gray-800;
                        }
                    }
                }

                .file-name {
                    width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .tootltip-div {
                        display: none;
                    }

                    &:hover {
                        .tootltip-div {
                            position: absolute;
                            background-color: $white;
                            padding: 6px;
                            box-shadow: 0 0 10px 0 #00000014;
                            max-width: 258px;
                            font-size: 0.75rem;
                            white-space: normal;
                            display: block;
                            z-index: 9;
                        }
                    }
                }
            }
        }

        .erroneousTable {
            @media(max-width:$lg) {
                overflow-x: auto;
            }

            &.static-table {
                table {
                    @media(max-width:$lg) {
                        width: 1000px;
                    }
                }

                th {
                    &:first-child {
                        width: 163px;
                    }

                    &:nth-child(2) {
                        width: 193px;
                    }

                    &:nth-child(4) {
                        width: 131px;
                    }
                }


                .reasonTxt {
                    color: $orange;
                }
            }

        }
    }

    .processFile-bar {
        display: flex;
        gap: 6px;
        align-items: center;

        .progress {
            background-color: #CACACA !important;
            --bs-progress-bar-bg: #019d52 !important;
            border: none;
            width: 200px;
        }

        h4 {
            color: $primary;
        }
    }

    .primaryCard:hover img {
        filter: inherit;
    }

    .reagionCards {
        .primaryCard {
            border-radius: 24px;
            border: 1px solid $newGray-100;
            background: $white;
            box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.03);

            &:hover {
                background: $primary;
                border: 1px solid $primary;

                .by-date {
                    color: $white !important;
                }

                .titleMain {
                    color: $lightgreen !important;
                }

                &.downArrow,
                &.firstCard {
                    img {
                        filter: brightness(0) saturate(100%) invert(86%) sepia(100%) saturate(15%) hue-rotate(199deg) brightness(106%) contrast(105%);
                    }
                }

                &.upArrow {
                    img {
                        filter: brightness(0) saturate(100%) invert(86%) sepia(100%) saturate(15%) hue-rotate(199deg) brightness(106%) contrast(105%);
                    }
                }
            }

            &.downArrow,
            &.firstCard {
                &.carrier {
                    img {
                        width: 58px;
                    }
                }
            }

            &.upArrow {
                img {
                    filter: brightness(0) saturate(100%) invert(60%) sepia(25%) saturate(775%) hue-rotate(328deg) brightness(94%) contrast(91%);
                }
            }

            .primaryCardInnerWprpper {
                gap: 1rem !important;


                .by-date {
                    color: $dark;
                    margin-bottom: 6px;
                }

                .titleMain {
                    color: $primary;
                }
            }

        }


        .co-txt {
            .titleMain {
                display: flex;
                align-items: center;

                span {
                    font-size: 1.25rem;
                    font-weight: 500;
                    padding-left: 6px;
                }
            }
        }
    }

    // additional bids css
    .additionalBids-Wrapper {
        .filesList-heading {
            .btn-deepgreen {
                span {
                    img {
                        padding-right: 0px !important;
                    }
                }
            }

            .select-box {

                .css-b62m3t-container,
                .css-3iigni-container {

                    .css-13cymwt-control,
                    .css-16xfy0z-control,
                    .css-t3ipsp-control {
                        min-height: 36px;
                    }
                }
                @media(max-width:$sm){
                    width: 100%;
                    >div{
                        width: 100%;
                    }
                }
               
            }

            .verticalLine {
                height: 18px;

                @media(max-width:$md) {
                    display: none;
                }
            }
            .btns{
                @media(max-width:$sm){
                    width: 100%;
                    button{
                        width: 100%;
                    }
                }
            }
        }

        .additionalbids-dataSection {
            button {
                img {
                    padding-right: 0px !important;
                }
            }

            .viewFileBtn {
                &:hover {
                    img {
                        filter: brightness(0) invert(100%);
                    }
                }

                img {
                    margin-bottom: 2px;
                    filter: brightness(0) invert(0%);
                }
            }

            .bidsCard-Wrapper {
                border: 1px solid $lightgreen;
                border-radius: 8px;
                background-color: #C1D3C033;

                .costWrapper {
                    background-color: $lightgreen;
                    padding: 6px 8px;
                    border-radius: 4px;
                    display: block;
                }

                .dots {
                    position: relative;
                }

                .processFiles-action {
                    position: absolute;
                    width: fit-content;
                    background: $white;
                    padding: 8px;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    top: 7px;
                    right: 10px;

                    button {
                        padding: 4px 14px;
                    }
                }

                &.activeCard {
                    border-radius: 8px;
                    border: 1px solid $primary;
                    background: rgba(193, 211, 192, 0.20);
                    box-shadow: 0px 4px 5.2px 0px rgba(0, 0, 0, 0.10);
                }
            }

            .static-table {
                @media (max-width: 1200px) {
                    overflow-x: auto;
                }

                .toolTip {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;

                    button {
                        border: 1px solid transparent;
                        background-color: transparent;
                        border-radius: 4px;
                        padding-inline: 4px;
                    }

                    .tooltipText {
                        visibility: hidden;
                        width: 180px;
                        background-color: $white;
                        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
                        color: $dark;
                        text-align: center;
                        border-radius: 8px;
                        font-weight: 500;
                        font-size: 0.75rem;
                        padding: 8px;
                        position: absolute;
                        z-index: 1;
                        bottom: 125%;
                        left: 50%;
                        margin-left: -108px;
                        opacity: 0;
                        transition: opacity 0.3s;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 59%;
                            margin-left: -8px;
                            border-width: 8px;
                            border-style: solid;
                            border-color: #eaeaeaa3 transparent transparent;
                        }
                    }

                    &:hover {
                        .tooltipText {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

                table {
                    @media (max-width: 1200px) {
                        max-width: 1200px;
                        width: 1000px;
                    }
                }

                &.fileList {

                    th:last-child,
                    td:last-child {
                        width: 354px;

                        .line {
                            background-color: $gray-600;
                            height: 24px;
                            width: 1px;
                        }
                    }

                    th:first-child,
                    td:first-child {
                        padding-left: 1rem !important;
                    }
                }

                thead {
                    tr {

                        th {
                            padding: 10px 5px !important;
                        }
                    }
                }

                td {
                    padding: 10px 5px !important;
                    border-top: 1px solid $gray-600;
                    border-bottom: 1px solid $gray-600;
                    position: relative;

                    .dangerBtn {
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }

                    &:last-child {
                        padding: 10px 10px !important;
                    }
                }

                .disabled-button {
                    width: 119px;
                    height: 35px;
                    padding: 0px !important;
                }

                .processed {
                    background-color: #DFEBE6 !important;
                }

                .uploaded {
                    background-color: rgba(193, 211, 192, 0.30) !important;

                    .processFile-bar {
                        display: flex;
                        gap: 6px;
                        align-items: center;

                        .progress {
                            background-color: $gray-500 !important;
                            --bs-progress-bar-bg: #019d52 !important;
                            border: none;
                        }

                        h4 {
                            color: $primary;
                        }
                    }

                    .processFile {
                        height: 35px;
                        width: 119px;
                        padding: 0px !important;

                        span {
                            vertical-align: text-bottom
                        }

                        img {
                            filter: brightness(0) invert(1);
                        }

                        &:hover {
                            background-color: $primary !important;
                            border-color: $primary !important;
                            color: $white;

                            img {
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }

                .failed {
                    background-color: rgba(216, 133, 107, 0.30) !important;

                    .dangerBtn {
                        height: 35px;
                        width: 130px;

                        img {
                            filter: brightness(0) invert(1);
                        }
                    }

                    .failedIcon {
                        filter: brightness(0) saturate(100%) invert(27%) sepia(4%) saturate(468%) hue-rotate(145deg) brightness(100%) contrast(94%);
                    }
                }

                tr {
                    .form-check {
                        width: 16px;
                        height: 16px;
                        min-height: auto;
                    }

                    th {
                        &:first-child {
                            width: 366px;

                            @media (max-width:1430px) {
                                width: 305px;
                            }

                            @media (max-width:1240px) {
                                width: 255px;
                            }
                        }

                    }

                    td {
                        .fileIcon {
                            width: 17px;
                        }

                        .failedIcon {
                            filter: brightness(0) saturate(100%) invert(67%) sepia(10%) saturate(87%) hue-rotate(161deg) brightness(87%) contrast(83%);
                        }

                        &:first-child {
                            width: 445px;

                            @media (max-width:1430px) {
                                width: 405px;
                            }

                            @media (max-width:1240px) {
                                width: 255px;
                            }
                        }

                        .dots {
                            position: relative;
                        }

                        .processFiles-action {
                            position: absolute;
                            width: 147px;
                            background: $white;
                            padding: 8px;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column;
                            gap: 7px;
                            top: 0px;
                            right: 35px;

                            .processFile {
                                img {
                                    filter: brightness(0) saturate(100%) invert(27%) sepia(4%) saturate(468%) hue-rotate(145deg) brightness(100%) contrast(94%);
                                }
                            }

                            button {
                                padding: 4px 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fade-modal {
    background-color: #2e2e2ea3;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
}

.fileUploadModal {
    width: 490px;
    min-height: 173px;
    background: $white;
    border: 1px solid $gray-300;
    position: absolute;
    border-radius: 24px;
    top: 40%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width:560px){
        width: 96%;
        left: 5px;
    }

    .uploadAgain {
        img {
            filter: brightness(0) invert(100%);
        }

        &:hover {
            img {
                filter: brightness(0) invert(1%);
            }
        }
    }

    .file-name {
        width: 310px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media(max-width:560px){
            width: 220px;
        }

        .tootltip-div {
            display: none;
        }

        &:hover {
            .tootltip-div {
                position: absolute;
                background-color: $white;
                padding: 6px;
                box-shadow: 0 0 10px 0 #00000014;
                max-width: 258px;
                font-size: 0.75rem;
                white-space: normal;
                display: block;
                z-index: 9;

            }
        }
    }

    .uploadfileStatus {
        .cancelBtn {
            button {
                span {
                    margin-bottom: 2px;
                }
            }
        }
    }
}

.processCount {
    span {
        color: $primary;
    }
}

.downloadListView {
    img {
        width: 14px;
    }
}

.bioFuel-map {
    --bs-modal-width: 100% !important;
    height: 100vh;
    overflow: hidden;

    .resetBtn-zoom {
        right: 10px;
        bottom: 117px;
    }

    .modal-header {
        padding: 0 !important;
    }

    position: relative;

    .mapbtn-screen {
        position: absolute;
        top: 10px;
        right: 10px;
        border: transparent;
        background: transparent;

        img {
            padding: 0px !important;
            width: 30px;
        }
    }

}