@import "../config/variable.module.scss";

.roleManagement-screen {
    .role-ManagementUser {
        min-height: calc(100vh - 210px);

        .role-ManagementInnerCard>div {
            min-height: calc(100vh - 228px);
        }

        .role-ManagementouterCard {
            h4 {
                span {
                    color: $primary;
                }
            }

            .role-ManagementInnerCard {
                .createUserCard {
                    padding: 70px 20px;

                    h3 {
                        font-size: 1.5rem;
                    }

                    button {
                        font-size: 0.875rem;
                    }
                }

            }
        }
    }

    .roleList-Table {

        th:first-child,
        td:first-child {
            width: 372px !important;
            word-break: break-word;
        }
    }



    // create role css starts
    .role-Management {
        @include mainSectionBg;

        input {
            height: 50px;
        }

        .lane-pagination {
            input {
                height: 35px;
            }
        }

        .form-label {
            font-size: 1rem;
            font-weight: 500;
        }

        .form-check-input {
            height: 16px;
            width: 16px;
            margin-top: 0.15rem;
        }

        .accordion {
            .accordion-item {
                border-radius: 8px;
                border-color: $gray-300;

                .accordion-header {
                    .accordion-button {
                        border-radius: 8px 8px 8px 8px !important;
                        height: 70px;

                        &:not(.collapsed) {
                            color: $black;
                            background-color: $gray-200;
                            box-shadow: none;
                            border-radius: 8px 8px 0px 0px !important;

                        }

                        &:focus {
                            border-color: $gray-300;
                            box-shadow: none;
                        }

                    }
                }

                .accordion-body {
                    padding: 1.75rem 1.25rem;
                    background-color: $gray-100;
                    border-radius: 0px 0px 8px 8px;
                }

                &:not(:first-of-type) {
                    border-top: 1px solid $gray-300;
                }

                .forms>div {
                    margin-bottom: 0px !important;
                }
            }
        }

        textarea {
            height: 120px;
        }

        // view resource manager css
        .roleView-manager {
            .backBtn {
                padding-block: 0px !important;

                .btn-deepgreen {
                    height: 38.33px;
                }
            }
        }

        .roleview-manager-userlist {
            .userManagement-Wraper {
                .userManagement_List {
                    padding-left: 0px !important;
                    padding-right: 0px !important;

                    .static-table {
                        td {
                            .form-check {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .uploadImageSection {
            .text-lightGray {
                color: $gray-600;
            }
        }

        .searchWrapper {
            .searchBar>div {
                margin-bottom: 0px !important;

                .form-label {
                    display: none;
                }
            }

            .searchIcon {
                position: absolute;
                top: 13px;
                left: 10px;
            }

            .form-control {
                width: 270px;
                height: 42px;
                padding-left: 36px;
            }


            .btn-deepgreen {
                padding: 10px 24px;
            }
        }

        .advanced_search {
            .form-control {
                width: 192px;
                height: 42px;
                padding-left: 10px;
            }

            .userListTxt {
                line-height: 21px;
            }

            display: none;
            border-radius: 5px;
            background-color: $white;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
            padding: 20px;
            position: absolute;
            z-index: 1;
            top: 50px;
            min-width: 421px;
            left: 0;

            .css-13cymwt-control {
                min-height: 42px;

                input {
                    height: auto;
                }
            }

            input {
                width: 182px;
                font-size: 0.875rem;
            }

            label {
                font-size: 0.875rem;
            }
        }

        .static-table {
            thead {
                tr {
                    &:hover {
                        background: none;
                    }

                    &:nth-child(odd) {
                        background-color: transparent;

                        &:hover {
                            background: none;
                        }
                    }
                }
            }

            tr {

                &:hover {
                    background: rgba(193, 211, 192, 0.4);
                }

                &:nth-child(odd) {
                    background-color: $gray-100;

                    &:hover {
                        background: rgba(193, 211, 192, 0.4);
                    }
                }

                th {
                    img {
                        width: 17px;
                    }
                }

                &:last-child:not(:first-child) {
                    td {
                        &:last-child:not(:first-child) {
                            .action-btnlist {
                                bottom: 10px;
                            }
                        }
                    }
                }
            }

            th:nth-child(4),
            td:nth-child(4) {
                width: 266px;
                word-break: break-word;

                @media (max-width:1400px) {
                    width: 232px;
                }
            }

            th:last-child,
            td:last-child {
                width: 65px;
            }

            td:first-child {
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }

            th:first-child,
            td:first-child {
                width: 310px;
                word-break: break-word;

                @media (max-width: 1550px) {
                    width: 285px;
                }

                @media (max-width: 1470px) {
                    width: 265px;
                }

                @media (max-width: $xxl) {
                    width: 205px;
                }
            }

            .tWrap__head,
            .tWrap__body {
                max-width: 100%;
                width: 100%;

                @media (max-width: 1200px) {
                    max-width: 1200px;
                    width: 1000px;
                }
            }

            th {
                font-size: 0.875rem;
                color: $gray-700;
                vertical-align: baseline;
                padding: 5px;

                @media (max-width: $xxl) {
                    font-size: 0.75rem;
                }
            }

            th,
            td {
                .form-check {
                    padding: 0px;
                    width: 12px;
                    height: 12px;
                    margin: 0px;

                    .form-check-input {
                        float: inherit;
                        margin-left: 0;
                        width: 12px;
                        height: 12px;
                        margin-top: 5px;
                    }
                }
            }

            td {

                .action-btn-dropdown {
                    .dropdown-toggle {
                        background-color: transparent;
                        border: none;
                        padding: 0px;

                        &::after {
                            display: none;
                        }

                        &.bg_circle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-color: transparent;
                        }

                        &.bgAction_circle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-color: $gray-300;
                        }
                    }
                }

                .dropdown-menu {
                    border: none;
                    background: transparent;
                }

                .action-btnlist {
                    position: absolute;
                    right: 19px;
                    width: 190px;
                    background: $white;
                    padding: 12px;
                    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    z-index: 5;
                    display: none;

                    button {
                        padding: 8px 8px;
                    }

                    &.action-btnlistVisible {
                        display: flex;
                        flex-direction: column !important;
                        z-index: 99999999;
                        pointer-events: auto;
                    }

                    .gray-btn {
                        &:hover, &:active{
                            background: $gray-300 !important;
                            color: $dark;
                        }
                    }

                    .dangerBtn {
                        &:hover,
                        &:active {
                          background: $orange !important;
                          color: $white;
                        }
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }

                    .btn-deepgreen {
                        img {
                            filter: brightness(0) invert(1);
                        }

                        &:hover {
                            img {
                                filter: brightness(0%);
                            }
                        }
                    }
                }

                padding: 12px 5px;

                h6 {
                    font-size: 0.875rem;
                }

                .active {
                    @include circle(10px);
                    background-color: $success;
                }

                .deactive {
                    @include circle(10px);
                    background-color: $orange;
                }

                .inactive {
                    @include circle(10px);
                    background-color: $gray-600;
                }
            }
        }
    }

    .role-ManagementUser>div {
        min-height: calc(100vh - 208px);
    }
}