@import "../config/variable.module";

.scope-one-screen-outer {
    margin-top: 10px;
    overflow-y: scroll;
    height: calc(100vh - 77px);

    .scope-one-screen {
        padding: 1rem;
        border-radius: 24px;
        border: 1px solid $newGray-100;
        background: $white;
        box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.03);

        .progress-tracker {
            @media (max-width: $md) {
                flex-direction: row !important;
                overflow-x: auto;
                width: 100%;
                padding: 10px 10px; // Add side padding to avoid clipping
                gap: 6px;
                flex-wrap: nowrap;
                -webkit-overflow-scrolling: touch;
                align-items: start  !important;
                justify-content: flex-start !important;
            
                > div {
                  flex: 0 0 auto; // Prevent shrinking
                }
            
                .lastbar {
                  flex-direction: column-reverse;
            
                  .bar {
                    display: none !important;
                  }
                }
              }
            .lastbar {
                &:last-child {
                    .bar {
                        display: none !important;
                    }
                }
            }

            .prog {
                border-radius: 24px;
                display: inline-block;
                padding: 7px 12px;
                height: 30px;
                width: 103px !important;
                text-align: center;

                &.inProg {
                    background-color: rgba(216, 132, 107, 0.248);
                    color: $orange;
                }

                &.completed {
                    background-color: rgba(87, 154, 128, 0.248);
                    color: $green;
                }

                &.pending {
                    background-color: rgba(226, 226, 226, 0.248);
                    color: $gray-500;
                }
            }

            .disabled-button {
                width: 30px;
                height: 30px;
                padding: 0px !important;
                justify-content: center;
                align-items: center;
                background-color: rgba(33, 81, 84, 0.516);
                color: $white;
            }

            .btn-deepgreen {
                width: 30px;
                height: 30px;
                padding: 0px !important;
                justify-content: center;
                align-items: center;
            }

            .bar {
                &.active {
                    background: $primary;
                }

                width: 8px;
                height: 90px;
                background: $mercury;
                border-radius: 20px;
                margin-block: 6px;
            }
        }
        .progress-one{
            @media(max-width:$md){
                margin-top: 16px;
            }

        }

        .fuel-inner {
            height: auto;
            width: auto !important;

            @media(max-width:1550px) {
                height: auto;
            }

            .form-label {
                margin-bottom: 0px !important;
                display: flex;
                flex-direction: row-reverse;
                gap: 9px;
            }

            &.active {
                background-color: $primary !important;

                .form-label {
                    color: $white;
                }

                .form-check-input:checked {
                    background-color: $white;
                    border-color: $white;
                }

                .form-check-input:checked[type=checkbox] {
                    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23215154%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
                }

            }
        }

        .form-control {
            resize: none;
            font-size: 0.875rem;
        }

        .progress-two {
            .form-check-input {
                margin-top: 0px !important;
                width: 1rem;
                height: 1rem;
            }
        }

        .progress-three {
            .firstRow {
                .form-check-input {
                    margin-top: 0px !important;
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        .form-label {
            font-size: 0.875rem;

        }

        .disabled-button {
            width: 125px;
            height: 41px;
        }

        .btn-deepgreen {
            padding: 8px 36px !important;
            display: flex;
            flex-direction: row-reverse;

            span {
                img {
                    transform: rotate(180deg);
                }
            }

            &.back {
                flex-direction: inherit;

                span {
                    img {
                        transform: inherit;
                    }
                }
            }
        }

        .outlineBtn-deepgreen {
            padding: 8px 26px !important;

            img {
                padding-right: 0px;
                filter: brightness(0) saturate(100%) invert(24%) sepia(59%) saturate(431%) hue-rotate(134deg) brightness(95%) contrast(89%);
            }
        }
    }
}