@import "../config/variable.module";

.laneScenario-screen {
  .laneScenario-section {
    .grid-container {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: 1550px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: $xl) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $md) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    // new css of lane scenario
    .sortingIcons {
      button {
        background: transparent !important;
        border: none !important;
        padding: 0;
      }
    }

    .planning-wrap {
      background-color: $white;
      border-radius: 24px;
    }

    .lanePlanning-leftwrap {
      .viewLanes {
        width: 170px;
        justify-content: center;
      }

      .disabled-button {
        padding: 8px 24px !important;
      }

      button {
        @media(max-width:$sm) {
          width: 100%;
        }
      }

      .btn-transparent {
        background-color: transparent;
        border: none;
      }

      .arrow-icons {
        button {
          padding: 0px !important;
          margin-bottom: 0px;
          background-color: transparent !important;
          border: 0px !important;
          cursor: pointer;

          img {
            padding-right: 0px !important;
            width: 24px;
          }
        }

        img {
          width: 13px;
          cursor: pointer;
        }
      }

      .search-icon-img {
        position: relative;

        span {
          .search-img {
            position: absolute;
            z-index: 1;
            left: 16px;
            top: 34%;
            width: 15px;
          }
        }

        .css-b62m3t-container,
        .css-3iigni-container {

          .css-13cymwt-control,
          .css-t3ipsp-control,
          .css-16xfy0z-control {

            .css-1fdsijx-ValueContainer,
            .css-hlgwow {
              padding-left: 32px !important;
            }
          }
        }
      }

      .css-16xfy0z-control {
        .css-1fdsijx-ValueContainer {
          padding-left: 25px;
        }
      }

      .noLanes-data {
        border-radius: 16px;
        border: 1px solid $gray-500;
        padding: 16px;

        .failedIcon {
          width: 24px;
        }
      }
    }

    .lanePlanning-rightwrap {
      .map-outer-wrap {
        >div:first-child {
          min-height: calc(100vh - 106px) !important;
          height: calc(100vh - 101px) !important;

          @media(max-width:$sm) {
            height: 300px !important;
            min-height: 300px !important;
          }
        }
      }
    }

    .dangerTxt {
      color: $orange;
    }

    // lane planning overview page css
    .backBtn {
      margin-bottom: 18px;

      a {
        display: inline-block !important;
      }
    }



    .cal-value {
      color: $gray-700;
    }

    .sort-arrow {
      width: 21px;
      height: 21px;
      border: 1px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;

      img {
        width: 12px;
      }

      &.sort-arrow-active {
        border: 1px solid $green;
      }

      &.sort-arrow-active-orange {
        border: 1px solid $orange;
      }
    }

    .lane-leftwrap {
      .distance {
        color: $green !important;

        &.highData {
          color: $orange !important;
        }
      }

      .recomendedCard {
        border-radius: 24px;
        border: 1px solid $newGray-100;
        background: $white;
        box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.03);

        &.activeGreen {
          border: 1px solid $green;
        }

        .fuel-tag {
          background-color: $primary;
          font-weight: 300;
          color: $white;
          display: inline-block;
          padding: 4px 5px;
          border-radius: 4px;
        }

        .emissionsTxt {
          h6 {
            color: $green;

            img {
              width: 13px;
              padding-right: 0px !important;
            }
          }
        }

        .tableImage {
          .logo-icon-name-wrapper {
            display: block !important;
          }
        }
      }
    }

    .lane-rightOuter {
      .lane-rightwrap {
        >div {
          >div:first-child {
            max-height: 780px !important;
            border-radius: 8px;
          }
        }

        position: relative;

        .resetBtn-zoom {
          right: 10px;
          bottom: 102px;
        }

      }

      .css-1hb7zxy-IndicatorsContainer>div:first-child {
        display: none;
      }

      .css-1wy0on6>div:first-child {
        display: none;
      }

      .newSection-input {
        input {
          width: 300px;
          height: 33px;

          &:focus-visible {
            outline: none;
          }
        }
      }

      .search {
        img {
          filter: invert(1);
          width: 18px;
        }

        &:hover {
          img {
            filter: inherit;
          }
        }
      }

      .bg-subtle {
        background-color: #28BD731A !important;
      }

      .selectFuel-dropdown {
        width: 169px;

        &.multiDropdown {
          width: 430px;

          .css-t3ipsp-control,
          .css-13cymwt-control, .css-16xfy0z-control {
            border-radius: 20px;

            &:focus-visible {
              box-shadow: none !important;
            }
          }

          .css-t3ipsp-control {
            box-shadow: none !important;
          }

          .css-1u9des2-indicatorSeparator,
          .css-894a34-indicatorSeparator {
            display: none;
          }
        }

        .css-d7l1ni-option {
          background-color: transparent !important;
        }

        .css-tr4s17-option {
          background-color: transparent !important;
          color: $black !important;
          display: flex;
          align-items: center;
        }

        .css-1xc3v61-indicatorContainer,
        .css-15lsz6c-indicatorContainer {
          width: 17px;
          padding: 0px;
          padding-left: 4px;
        }

        .css-t3ipsp-control {
          min-height: 33px;
        }

        .css-13cymwt-control {
          min-height: 33px;
          cursor: pointer;

          .innerdropdown {
            width: 87%;

            @media(max-width: 1920) {
              width: 88%;
            }

            span {
              font-size: inherit !important;
            }
          }
        }

        h6 {
          color: $gray-800;
          font-weight: 300;
        }
      }


      .crossBtn {
        background-color: $primary;
        color: $white;
        padding: 0px 6px;
        border-radius: 10px;
        font-size: 0.75rem;
        border: none;
        align-items: center;

        img {
          filter: grayscale(100%) brightness(1000%);
          width: 7px;
          padding-right: 0px !important;
        }
      }

      .action-btn-dropdown {
        .bgAction_circle {
          display: flex;
          justify-content: space-between;
          gap: 12px;
          align-items: center;
          background: $white;
          height: 36px;
          padding: 0 10px;
          border-radius: 8px;
          width: 190px;
          border: 1px solid $gray-400;
          transition: 0.4s ease;
        }

        .bg_circle {
          transform: rotate(180deg);
          transition: 0.4s ease;
        }

      }

      .action-btnlist {
        position: absolute;
        right: 50px;
        width: 190px;
        background: $white;
        padding: 12px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
        border-radius: 4px;
        z-index: 5;
        display: none;
        margin-top: 5px;

        button {
          padding: 8px 8px;
        }

        &.action-btnlistVisible {
          display: flex;
          flex-direction: column !important;
          z-index: 99999999;
          pointer-events: auto;
        }
      }


      .gm-style {
        .gm-style-iw-c {
          background-color: $white !important;
        }

        .gm-style-iw-tc::after {
          background: $white !important;
        }
      }
    }

    .css-1nmdiq5-menu {
      z-index: 4 !important;

      div {
        >div {
          display: flex;
          align-items: center;
        }
      }
    }

    // lane scenario new css close
    .form-control {
      font-size: 0.875rem !important;
      height: 45px;
      border: 1px solid $silver;
    }

  }

  .gm-control-active.gm-fullscreen-control {
    display: none;
  }

  // primary card css
  .main-lowerbench {
    .innermodal-outer {
      padding: 1rem;

      hr {
        margin: 12px 0;
      }

      .average-outer {
        margin: 16px 0px 8px 0px;
      }
    }

    .emission-sipment {
      .icon-text {
        img {
          padding-right: 0px !important;
        }
      }
    }
  }



  .radius-checkbox {
    width: 260px;

    .css-t3ipsp-control,
    .css-13cymwt-control,
    .css-16xfy0z-control {
      min-height: 33px;
    }
  }


}