@import "../config/variable.module";

.optimusScreen {

    .line {
        background-color: $gray-400;
        height: 20px;
        width: 1px;
    }

    .search-icon-img {
        @media(max-width:$sm) {
            width: 100%;
        }

        .custom-select {
            @media(max-width:$sm) {
                width: 100%;
            }
        }
    }

    .select-box {
        button {
            height: 45px;
        }
    }
.filter-btns{
    @media(max-width:$sm) {
        width: 100%;
    }
    button{
        @media(max-width:$sm){
            width: 100% !important;
        }
    }

}
    .disabled-button {
        width: 90.59px;
    }

    .map-outer-wrap {
        >div {
            height: 650px !important;

            @media(max-width:1550px) {
                height: 450px !important;
            }
            @media(max-width:$sm) {
                height: 300px !important;
            }
        }
    }

    .optimus-map {
        .spinner {
            height: 250px;
        }
    }

    .ev-map-outer {
        .gm-style-iw-chr {
            button {
                width: auto !important;
                height: auto !important;

                span {
                    margin: 0px !important;
                }
            }
        }
    }

    .gm-style {
        .gm-style-iw-c {
            background-color: $white !important;
        }

        .gm-style-iw-tc::after {
            background: $white !important;
        }
    }

    .static-table {
        @media(max-width:$md) {
            overflow-x: scroll;
        }

        table {
            @media(max-width:$md) {
                width: 724px;
            }
        }

        th:last-child,
        td:last-child {
            width: 108px;
        }
        .customWidth{
            input{
                width: 100px;
            }
        }

        th,
        td {
            padding: 12px 16px;
            font-size: 1rem;
            vertical-align: middle;
        }

        tbody {
            tr {

                .viewmap-btn {
                    background-color: transparent;
                    padding: 0px;
                }

            }
        }
    }
}

.bioFuel-map {
    .gm-style {
        .gm-style-iw-c {
            background-color: $white !important;
        }

        .gm-style-iw-tc::after {
            background: $white !important;
        }
    }
}