@import "./variable.module";
@import "./mixin.scss";

.btn-deepgreen {
    @include btn-deepgreen;
}
.btn-deepgreenLg {
    @include btn-deepgreen;
    min-width:240px;
}
.outlineBtn-deepgreen{
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
    border-radius: 4px;
    white-space: nowrap;
}
.btn-lightGreen {
    @include btn-lightGreen;
}
.dangerBtn {
    @include dangerBtn;
}
.dangerbtn-outline{
    @include dangerBtn ;
    background-color: $gray-100;
    border: 1px solid $orange;
    color: $orange;
    &:hover {
        background-color: $gray-100;
        border: 1px solid $orange;
        color: $orange;
    }
}

.gray-btn {
    background-color: $gray-200;
    border: 1px solid $gray-200;
    color: $gray-700;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advanced-btn {
    background: transparent;
    border: none;
    color: $dark;
    text-decoration: underline;
    font-weight: 500;
}
.disabled-button{
    background: $gray-400;
    border: 1px solid $gray-400;
    border-radius: 34px;
    color: $gray-800;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 8px 15px;
    height: 46px;
}    
.btn-transparent{
    background-color: transparent;
    border: transparent;
    img{
        padding-right: 0px !important;
    }
    &:hover, &:active{
        background-color: transparent !important;
        border: transparent;
    }
}
button{
    border-radius: 24px !important;
}