@import "./variable.module";

// top primary cards
.primaryCard {
    border: 1px solid $newGray-100;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.03);
    padding: 16px;
    background: $white;
    border-radius: 24px;

    img {
        width: 58px;

        @media(max-width:1550px) {
            width: 40px;
        }
    }

    .card-loader .spinner-border {
        border: var(--bs-spinner-border-width) solid $black;
        border-right-color: transparent;
    }

    &:hover {
        border-radius: 24px;
        background: $primary;
        box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.03);

        .titleMain {
            color: $white;

            .divider {
                color: $white !important;
            }

            .matrix-value {
                color: $white !important;
            }
        }

        .by-date {
            color: $white;
        }

        img {
            filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(0%) hue-rotate(230deg) brightness(105%) contrast(105%);
        }

        .card-loader .spinner-border {
            border: var(--bs-spinner-border-width) solid $white;
            border-right-color: transparent;
        }

    }

    .co-txt {
        color: $dark;

        .green-div {
            background: $lightgreen;
            width: 20px;
            height: 20px;
            border-radius: 4px;
        }

        .orange-div {
            background: $orange;
            width: 20px;
            height: 20px;
            border-radius: 4px;
        }
    }

    h6 {
        font-size: 0.87rem;
    }

    h3 {
        font-size: 1.25rem;

        @media (max-width: $xxl) {
            font-size: 1.12rem;
        }
    }

    .by-date {
        font-size: 0.875rem;
        color: $newGray-200;
    }
}

.primaryCard.lastBoxcard {
    h3 {
        min-height: auto;
    }
}

// mainGrayCards
.mainGrayCards {
    border: 1px solid $newGray-100;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.03);
    background: $white;
    border-radius: 24px;

    .left-arrow-slider {
        position: absolute;
        left: -8px;
        top: 34%;
        z-index: 2;

        button {
            background: transparent;
            border: none;
        }
    }

    .right-arrow-slider {
        position: absolute;
        right: 0px;
        top: 34%;
        z-index: 2;

        button {
            background: transparent;
            border: none;
        }
    }

    .quartely-wrapper {
        border-top: 1px solid $lightgreen;

        .quartely {
            @media(max-width:$sm){
                margin-bottom: 18px !important;
            }
            h4 {
                height: 50px;
                @media(max-width:$sm){
                    height: 22px;
                    min-height: auto !important;
                }
            }

            h3 {
                span {
                    margin-bottom: 2px;

                    img {
                        padding-right: 0px !important;
                    }
                }
            }
        }
    }

    h6 {
        font-size: 0.875rem;
    }

    h3 {
        font-size: 1.25rem;

        @media(max-width:$xxl) {
            font-size: 1.12rem;
        }
        @media(max-width:$sm) {
            font-size: 1.22rem;
        }
    }

    span {
        font-size: 0.75rem;
    }

    .select-box {
        .perTonDropdown {
            min-width: 156px;
        }
    }

    .model-overview-down {
        background: $lightOrange;
        min-height: 50px;
        display: flex;
        align-items: center;
        border-radius: 6px;

        img {
            width: 28px;

            @media(max-width:1550px) {
                width: 28px;
            }
        }

        h6 {
            font-size: 0.875rem;

            @media(max-width:$xxl) {
                font-size: 0.75rem;
            }
        }

    }

    .model-overview-up {
        border-radius: 6px;
        background: $greenLight ;
        min-height: 50px;

        img {
            width: 28px;

            @media(max-width:1550px) {
                width: 28px;
            }
        }

        h6 {
            font-size: 0.875rem;

            @media(max-width:$xxl) {
                font-size: 0.75rem;
            }
        }
    }
}

//top bar overview screen cards 

.topBarOverview {
    background: $gray-200;
    border-radius: 8px;

    .datafrom-txt {
        font-size: 0.75rem;
    }

    .emission {
        .manager-img-default {
            img {
                width: 50px;
            }
        }

        h6 {
            font-size: 0.75rem;
        }
    }
}