@import "./variable.module";
@import "./mixin";

.static-table {
    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;

        tbody {
            tr {
                &:hover {
                    background: $newGray-300;
                }

            }
        }

        thead {
            tr {
                th {
                    span {
                        img {
                            cursor: pointer;
                            width: 22px;
                            margin-bottom: 2px;
                            @media(max-width:1550px){
                                width: 18px;
                            }
                        }
                    }
                }

                background-color: $gray-200;
            }
        }

        th,
        td {
            border-bottom: 1px solid rgba(202, 202, 202, 0.70);
            padding: 16px 10px;
            text-align: left;
            text-overflow: ellipsis;
            font-size: 1rem;
            color: $gray-700;
            font-weight: 400;
            vertical-align: baseline;
            line-height: 20px;

            @media(max-width:1500px) {
                font-size: 0.75rem;
                line-height: 16px;
            }
        }
        
        th:first-child,
        td:first-child {
            padding-left: 1rem;
        }

        th:last-child,
        td:last-child {
            width: 60px;
        }
    }

    .tWrap {
        height: 100%;
        display: flex;
        flex-direction: column;

        @media (max-width: $xl) {
            overflow-x: auto;
            -webkit-overflow-scrolling: auto;
        }
    }

    .tWrap__head {

        @media (max-width: $xl) {
            max-width: 1200px;
            width: 1000px;
        }

        @media (max-width: $lg) {
            width: 898px
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .tWrap__body {

        tr {
            cursor: pointer;
        }

        @media (max-width: $xl) {
            max-width: 1200px;
            width: 1000px;
        }

        @media (max-width: $lg) {
            width: 898px
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.activeRow {
    background-color: $newGray-300;

    .accordion-button.collapsed {
        background-color: $newGray-300;
    }
}

.regionFacility {
    .static-table {
        th {
            @media (max-width:1300px) {
                font-size: 0.625rem;
            }
        }

        td {
            @media (max-width:1300px) {
                font-size: 0.75rem;
            }
        }

        th:last-child,
        td:last-child {
            width: auto;

        }

        .fs-10 {
            @media (max-width:1300px) {
                font-size: 0.5625rem;
            }
        }

        span {
            img {
                padding-right: 0px !important;
                width: 18px;
                cursor: pointer;
            }
        }
    }
}