@import "./variable.module";

// font family
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: $fontPoppins;
    color: $dark;
    font-size: 0.75rem;
    background: $bodybg;
    overflow-y: hidden;
    width: 100vw;
}
// SET BASE FONT SIZE
$base-font-size: 16px; 
// SET RANGE
$range: 100;

// PREFIX
$prefix: '';

// FUNCTION TO CONVERT PX TO REM
@function pxToRem($px) {
    $remValue: calc($px / $base-font-size); // Calculate the rem value
    @return #{$remValue}rem; // Return the value with "rem" appended
}

// GENERATE FONTS FOR ALL SIZES 
@for $font from 1 to $range {
    .#{$prefix}font-#{$font} {
        font-size: pxToRem(1px * $font) !important;
    }
}

// MEDIA QUERY FOR RESPONSIVE SIZES
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1367px,
    xxxl: 1921px // Adjust as needed
);

@each $size, $width in $breakpoints {
    @media (min-width: $width) {
        @for $font from 1 to $range {
            .#{$prefix}font-#{$size}-#{$font} {
                font-size: pxToRem(1px * $font) !important;
            }
        }
    }
}