@import "../config/variable.module";

.intermodal {
    .static-table {
        table {

            th:last-child,
            td:last-child {
                width: auto;
            }
        }
    }

    .highcharts-label.highcharts-tooltip {
        path {
            fill: $primary !important;
        }
    }
.static-table table tbody tr:hover {
    background: transparent;
}
}