@import "../config/variable.module";

.laneOverview-screen {
    .primaryCardInnerWprpper {
        width: 306px;
    }
    .laneOverview-screen-wraper {
        .laneOverview-section {
            .topBarOverview {
                .emission {
                    .manager-img-default {
                        img {
                            padding-right: 0px !important;
                        }
                    }
                }
            }

            .co-txt {
                justify-content: flex-start !important;

                .titleMain {
                    text-align: left !important;
                }
            }

            .mainGrayCards {

                .logo-icon-name {
                    margin: auto;
                    margin-left: auto !important;
                }

                .quartely-wrapper {
                    .quartely {
                        h3 {
                            span {
                                img {
                                    padding-right: 0px !important;
                                }
                            }
                        }
                    }
                }

                .css-13cymwt-control {
                    height: 36px;
                }

                .search-carrier {
                    input {
                        border: 1px solid $lightgreen;
                        border-radius: 6px;
                        font-size: 1rem;
                        padding: 5px 10px 5px 30px;
                    }

                    span {
                        img {
                            padding-left: 7px;
                            position: absolute;
                            top: 9px;
                        }
                    }
                }

                .static-table {

                    th:last-child,
                    td:last-child {
                        width: 75px;

                        a {
                            color: $dark;
                        }
                    }

                    th:first-child,
                    td:first-child {
                        width: 400px;

                        @media (max-width: 1200px) {
                            width: 300px;
                        }

                    }
                }
            }

            .carrierSearchBar {
                span {
                    position: relative;

                    img {
                        position: absolute;
                        top: 11px;
                        left: 13px;
                    }
                }

                input {
                    padding: 10px 10px 10px 35px;
                    width: 238px;
                    border-radius: 24px;
                    border: 1px solid $alto;
                }
            }

            .leftTitle {
                font-size: 0.875rem !important;
                font-weight: 600 !important;
            }
        }
    }
}