@import "../config/variable.module";

.regionOverview-screen {
  .emission {
    .line {
      background-color: $gray-700;
      height: 1.85rem;
      width: 0.0625rem;
      opacity: 0.2;
      display: block;
      @media(max-width:$md){
        display: none;
      }
    }
  }

  .primaryCardInnerWprpper {
    width: 306px;
    @media(max-width:$sm){
      width: 223px;
  }
  }

  .co-txt {
    justify-content: flex-start !important;
    .titleMain {
      text-align: left !important;
    }
  }
 
  .manager-img-default {
    img {
      max-width: 60px;
    }
  }

  .regionOverview-screen-wraper {
    .regionOverview-section {

      .mainGrayCards {
        .regionWiseTxt {
          h6 {
            font-size: 0.875rem;

            span {
              font-size: 0.875rem;
            }
          }
        }

        .model-overview {
          background-color: $lightgreen;
          border-left: 10px solid $primary;
          height: 50px;
          color: $primary;
        }

        .quartely-wrapper {
          .quartely {
            h4 {
              min-height: 50px;
            }
          }
        }
      }

      .lane-data-wrapper {
        .gray-div {
          border-radius: 4px;
        }
      }
    }

    .leftTitle {
      font-size: 0.875rem !important;
    }
  }
}